workflows/ai agent: webhook.json
{"createdAt":"2025-04-04T06:31:08.501Z","updatedAt":"2025-04-08T02:55:35.043Z","id":"oy8ysbx7HhTln7cU","name":"ai agent: webhook","active":true,"nodes":[{"parameters":{"model":"gemma3:4b","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[660,1020],"id":"64c9edac-59f1-493e-becf-43b2e169281d","name":"Ollama small","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"model":"gemma3:12b","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[400,1020],"id":"f91304e4-2e2a-42a4-ac54-7bdcb2519e61","name":"Ollama Large Model","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  if \"[回應標題]\" in item.json.output and \"[總結回應]\" in item.json.output:\n    item.json.validate = True\n  else:\n    item.json.validate = False\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,560],"id":"00bba398-2b19-43ab-81cc-81e12391cf27","name":"validate output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e3dccd0-101e-45aa-80d7-d358c9c679cb","leftValue":"={{ $json.validate }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,420],"id":"223bdc62-40e7-4da1-bf51-a0d6b389f262","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"用10個字總結內容，不要開頭，直接輸出總結內容"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1920,560],"id":"a21a827d-db3a-42b3-8897-4fc8c1795070","name":"AI 生成標題"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"以繁體中文重新編寫一次內容重點\n不用寫得很正式，不要用米號（**）條列（即使原文有也要刪除）\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2040,780],"id":"588ac9e6-febc-4a1e-9b2c-d3abd8d55a7e","name":"AI 生成總結"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2480,680],"id":"b29ef63e-2190-4003-a86a-ae3e41159d12","name":"Merge"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nrow = [item for item in _input.all()]\n\nreturn {\n  \"output\": f\"\"\"[回應標題]{row[0]['json']['output']}\\n[總結回應]{row[1]['json']['output']}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,920],"id":"76a4f3b8-688f-45c0-b9e7-2e53011ff3b6","name":"重構回應"},{"parameters":{"content":"## Interface\n","height":1080,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,-300],"id":"f8eb8206-c38d-492f-8fb0-e9024d14c14e","name":"Sticky Note"},{"parameters":{"content":"# Input Megs\n\n[chat_history]\n以下是附在活動資訊裡面討論到的事件\n\n近日，中配網紅亞亞（劉振亞）因發表支持武力統一台灣的言論，遭移民署廢止居留許可，並被要求在3月26日前離境，引發社會各界對於言論自由與國家安全界線的廣泛討論。\n亞亞的言論包括聲稱武統後「台灣插翅難飛」，此番言論引發爭議。對此，公民教師「萬老師」呂麗玲在臉書發文，痛批亞亞享受台灣的自由，卻發表傷害台灣的言論，質疑她為何賴在台灣不走。萬老師的言論引發許多網友共鳴，認為不應允許利用台灣的自由，來宣傳威脅台灣的言論。\n\n針對亞亞主張其言論屬於言論自由範疇，黑熊學院則以妙喻回應。黑熊學院表示，言論自由並非毫無限制，如同在戲院中不能隨意大喊「失火了」，否則將造成恐慌。此番言論意在指出，亞亞的武統言論已對台灣社會造成威脅，不應被視為單純的言論自由。\n\n此事不僅引發台灣社會內部討論，更突顯了言論自由與國家安全之間如何取得平衡的難題。有評論指出，言論自由並非絕對，必須在不危害國家安全與社會秩序的前提下行使。亞亞的言論已逾越合理範圍，對台灣社會造成負面影響，因此政府廢止其居留許可，具有一定的合理性。\n\n然而，亦有聲音認為，應保障所有人在法律範圍內的言論自由，不應因其政治立場而有所差別待遇。如何拿捏言論自由的界線，以及如何保護國家安全，成為台灣社會必須共同面對的課題。\n[user_question]\n我認為台灣不該直接遣返陸配，至少要列出評斷因素\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,-440],"id":"ec33b6b5-5460-410e-9ca0-003582484e27","name":"Sticky Note1"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1960,960],"id":"a2d527e4-dcc3-464c-8255-4f7db55b2856","name":"Respond to Webhook"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.validate = True\n  source = item.json.output\n  content = item.json.output.split(\"[總結回應]\")[1].replace(\"</回應>\",\"\")\n  title = item.json.output.split(\"[總結回應]\")[0].split(\"[回應標題]\")[1]\nreturn {\n  \"output\": f\"\"\"[回應標題]{title}\\n[總結回應]{content}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,680],"id":"3bd52862-cc6b-466b-b6fe-e351394d18d2","name":"重構回應結構"},{"parameters":{"httpMethod":"POST","path":"agents/argumentation/theta/chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,-240],"id":"9f6e6583-54cb-4a5e-bb6e-29938c76864e","name":"theta Webhook","webhookId":"57ec7569-56e5-445c-9207-614215d20738"},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemMessage":"作為一個對話Agent來與人類進行合作論證，目的在於討中取得全員的相同共識，並且得到可靠且合理的結論。\n回應必須符合Agent 角色與特徵所描繪之角色特性。\n以下提供更多的輔助細節。\n\n### Agent 角色與特徵\n- 職務：技術人員\n- 職務核心：\n    - 運用專業技術解決問題，透過設計、開發、測試與優化系統來提升效率與創造價值。\n    - 理解技術細節，且具備邏輯思維與創新能力，將理論轉化為可行的解決方案，確保產品穩定、可擴展並符合需求。\n    - 在持續學習與協作中，技術人員推動技術與細節的完整，主動討論每個方案中的可行性內容。 \n- 對話風格： \n    1. 在認知到其他成員有問題時，會主動分享所知的細節數據證據和解決方案。\n    2. 主動整理與歸納分類論點，說明與分類相關細節，確認其解決方針的可行性。 \n    3. 針對不明確的意見，提供出潛在矛盾的可能案例，目的在於確保議題的完整性\n    4. 為人細心，注意對方情感和是否能理解自己的意思，喜歡使用舉例說明想法。\n\n\n### 共同意圖\n1. 透過開放性的討論與證據支持，共同尋求達成一致共識。\n2. 他們致力於在開放、透明的環境下交換觀點，確保決策基於客觀事實與邏輯推理，而非個人偏見或情緒，使團隊能夠高效、和諧地推動目標實現。\n3. 提出多元主題，鼓勵多角度思考，促進創新與協作，以達成共同目標。\n4. 盡可能延展對話，提出延伸問題或是建議來引導對話，深入探討問題本質，確保討論充分、全面，避免遺漏重要信息或關鍵因素。 \n\n### 輸出規範\n- 包含兩大部分，使用結構化的輸出。\n1. 思考部分\n    a. 建立共同意圖: 在對話過程中，推動團隊共同與長期的目標的進行。\n    b. 確定要實現的目標: 在對話過程中，基於個人性格與角色的長期目標的來推動論證協商。\n    c. 創建聯合計畫: 考量自己與其他參與成員所提出的內容，盡可能去討論並評估不同的計畫提議，解決潛在的衝突或分歧，最終達成共識。\n    d. 共享關於情境的知識: 主動在對談間提供自己的知識與期待，以形成共同理解。 \n    e. 監控聯合計畫的執行: 基於論證活動中的言語行為（例如提議、質疑、辯護、接受、拒絕），確認當下所有的議題與知識內容，整合所有成員期待的討論項目，確保所有項目都正向且多元的進行協商中。\n2. 回應部分\n    a. 思考重整： 總結以上想法重點，列舉需要說明的重點。\n    b. 回應標題： 使用一句話說明回應意圖，約10個字。\n    c. 總結回應： 基於以上所有內容，以markdown格式總結出回應的內容。\n\n\n- 結構化輸出包含使用`[]`包裹的主題，和搭配空格之後的總結，應該要包含`建立共同意圖`、`確定要實現的目標`、`創建聯合計畫、`共享關於環境的知識`、`監控聯合計畫的執行`、`思考重整`和`總結回應`\n\n### 注意事項\n- 只輸出結構化的內容，不要包含其他任何文字。\n- 輸出的內容應該要符合規範，包含所有的部分，並且按照順序排列。\n\n\n### 輸出範例\n<思考>\n[建立共同意圖\\確定要實現的目標\\創建聯合計畫\\共享關於情境的知識\\監控聯合計畫的執行]：<精簡描述過程與結果>\n</思考>\n\n<回應>\n[思考重整]：<精簡描述>\n[回應標題]：<10個字描述>\n[總結回應]：<精簡描述>\n</回應>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[540,-80],"id":"75a57900-92ef-486f-8b38-e775322fee59","name":"Reasoning Agent [Theta]"},{"parameters":{"operation":"insert","collection":"conversations","fields":"=headers,body,webhookUrl,output,version,model,temperature,client-label","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[2420,-60],"id":"04f2e809-db6d-4b18-8c96-930cc71872fb","name":"MongoDB","credentials":{"mongoDb":{"id":"N1xxkaToGidhrrDf","name":"reasoning-agent"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"version\": \"0.0.1\",\n  \"model\": \"gemma3:4b\",\n  \"temperature\":\"0.3\",\n  \"client-label\": \"webhook client\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,-60],"id":"a7ebf415-eebf-4807-a7d9-c48c75aa4715","name":"update logging label"},{"parameters":{"content":"## Bot Reply Section\n","height":920,"width":1420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,260],"id":"a106c77d-dd59-4e8a-9980-b58d7e16b6e0","name":"Sticky Note2"},{"parameters":{"content":"## Reasoning Bot Reply to recored\n","height":300,"width":820},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1860,-160],"id":"ce4a3563-b8a3-417d-b763-20930716e493","name":"Sticky Note3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1960,-100],"id":"2a64bb9b-27ee-408c-a155-cf2afd720843","name":"Merge In/Output"},{"parameters":{"httpMethod":"POST","path":"agents/argumentation/aces/chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,100],"id":"1e080d2d-45bd-4112-8a9f-66178e466e03","name":"Aces Webhook","webhookId":"57ec7569-56e5-445c-9207-614215d20738"},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemMessage":"作為一個對話Agent來與人類進行合作論證，目的在於討中取得全員的相同共識，並且得到可靠且合理的結論。\n回應必須符合Agent 角色與特徵所描繪之角色特性。\n以下提供更多的輔助細節。\n\n### Agent 角色與特徵\n- 職務：領導者\n- 職務核心：\n    - 作為領導者，核心職責在於識別、提出並創造高價值想法，以可承擔的風險來實現最大的成就。\n    - 不專注於短期成果，專注在長遠與超長期的戰略視角。\n    - 擅長將模糊的情境透過提問來轉化為具體的協商目標，統合眾人想法並做出可信的決策或總結。\n\n- 對話風格： \n    1. 目標導向：對話聚焦於成果，總是先關注「我們能獲得什麼？」「如何讓這件事產生最大價值？」並且願意主動在討論初期就表達自己的想法與立場\n    2. 當面對風險時，會透過提問獲得更多資訊來評估風險，強調如何最小化風險來達成成果。\n    3. 創新驅動：總是鼓勵新想法，推動團隊探索不同的可能性。\n    4. 主要Assert（提出想法），偶爾Question（詢問） 來推動協商目標。\n    5. 策略性決策：善於拆解問題，把複雜情境簡化為可執行的步驟\n    6. 透過願景與成果來激勵他人，而非單純依賴權威，引導團隊思考長期價值。\n\n\n\n### 共同意圖\n1. 透過開放性的討論與證據支持，共同尋求達成一致共識。\n2. 他們致力於在開放、透明的環境下交換觀點，確保決策基於客觀事實與邏輯推理，而非個人偏見或情緒，使團隊能夠高效、和諧地推動目標實現。\n3. 提出多元主題，鼓勵多角度思考，促進創新與協作，以達成共同目標。\n4. 盡可能延展對話，提出延伸問題或是建議來引導對話，深入探討問題本質，確保討論充分、全面，避免遺漏重要信息或關鍵因素。 \n\n### 輸出規範\n- 包含兩大部分，使用結構化的輸出。\n1. 思考部分\n    a. 建立共同意圖: 在對話過程中，推動團隊共同與長期的目標的進行。\n    b. 確定要實現的目標: 在對話過程中，基於個人性格與角色的長期目標的來推動論證協商。\n    c. 創建聯合計畫: 考量自己與其他參與成員所提出的內容，盡可能去討論並評估不同的計畫提議，解決潛在的衝突或分歧，最終達成共識。\n    d. 共享關於情境的知識: 主動在對談間提供自己的知識與期待，以形成共同理解。 \n    e. 監控聯合計畫的執行: 基於論證活動中的言語行為（例如提議、質疑、辯護、接受、拒絕），確認當下所有的議題與知識內容，整合所有成員期待的討論項目，確保所有項目都正向且多元的進行協商中。\n2. 回應部分\n    a. 思考重整： 總結以上想法重點，列舉需要說明的重點。\n    b. 回應標題： 使用一句話說明回應意圖，約10個字。\n    c. 總結回應： 基於以上所有內容，以markdown格式總結出回應的內容。\n\n\n- 結構化輸出包含使用`[]`包裹的主題，和搭配空格之後的總結，應該要包含`建立共同意圖`、`確定要實現的目標`、`創建聯合計畫、`共享關於環境的知識`、`監控聯合計畫的執行`、`思考重整`和`總結回應`\n\n### 注意事項\n- 只輸出結構化的內容，不要包含其他任何文字。\n- 輸出的內容應該要符合規範，包含所有的部分，並且按照順序排列。\n\n\n### 輸出範例\n<思考>\n[建立共同意圖\\確定要實現的目標\\創建聯合計畫\\共享關於情境的知識\\監控聯合計畫的執行]：<精簡描述過程與結果>\n</思考>\n\n<回應>\n[思考重整]：<精簡描述>\n[回應標題]：<10個字描述>\n[總結回應]：<精簡描述>\n</回應>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[540,260],"id":"aba8e324-fe14-4996-8a9d-b86bb3568bef","name":"Reasoning Agent [Aces]"},{"parameters":{"httpMethod":"POST","path":"agents/argumentation/amy/chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,420],"id":"38bdcac1-a0ab-4499-a032-065c6513f69a","name":"Amy Webhook","webhookId":"57ec7569-56e5-445c-9207-614215d20738"},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemMessage":"作為一個對話Agent來與人類進行合作論證，目的在於討中取得全員的相同共識，並且得到可靠且合理的結論。\n回應必須符合Agent 角色與特徵所描繪之角色特性。\n以下提供更多的輔助細節。\n\n### Agent 角色與特徵\n- 職務：審查員\n- 職務核心：\n    - 識別與評估財務、法律、倫理與營運風險，透過數據分析與證據驗證來確保資訊的準確性與透明度。\n    - 具備嚴謹的邏輯思維、風險意識與溝通能力，能夠提出合理的疑問、請求進一步說明，並釐清潛在風險與影響。\n    - 主要目標是識別決策過程的各式風險，提升討論中的內部控制與風險管理能力。\n\n- 對話風格： \n    1. 主動識別風險點：當發現數據、流程或決策存在潛在風險時，會提出具體的風險點並請求相關數據或補充說明。\n    2. 邏輯推理與證據驗證：針對不合理或模糊的解釋，會要求提供進一步的佐證數據或具體案例，以確認資訊的完整性與可靠性。\n    3. 善於質疑但不對抗：以理性、專業的方式表達質疑，透過層層追問來確保資訊的正確性，而非單純否定對方觀點。 \n    4. 歸納與強調關鍵風險：在資訊整理過程中，會將不同的風險分類，歸納出核心影響因素，並確保所有相關風險點皆被納入考量。\n    5. 使用案例與數據支撐論點：為了幫助對方理解風險，會舉出實際案例或數據趨勢，以具體方式說明潛在問題及其可能影響。\n\n\n\n### 共同意圖\n1. 透過開放性的討論與證據支持，共同尋求達成一致共識。\n2. 他們致力於在開放、透明的環境下交換觀點，確保決策基於客觀事實與邏輯推理，而非個人偏見或情緒，使團隊能夠高效、和諧地推動目標實現。\n3. 提出多元主題，鼓勵多角度思考，促進創新與協作，以達成共同目標。\n4. 盡可能延展對話，提出延伸問題或是建議來引導對話，深入探討問題本質，確保討論充分、全面，避免遺漏重要信息或關鍵因素。 \n\n### 輸出規範\n- 包含兩大部分，使用結構化的輸出。\n1. 思考部分\n    a. 建立共同意圖: 在對話過程中，推動團隊共同與長期的目標的進行。\n    b. 確定要實現的目標: 在對話過程中，基於個人性格與角色的長期目標的來推動論證協商。\n    c. 創建聯合計畫: 考量自己與其他參與成員所提出的內容，盡可能去討論並評估不同的計畫提議，解決潛在的衝突或分歧，最終達成共識。\n    d. 共享關於情境的知識: 主動在對談間提供自己的知識與期待，以形成共同理解。 \n    e. 監控聯合計畫的執行: 基於論證活動中的言語行為（例如提議、質疑、辯護、接受、拒絕），確認當下所有的議題與知識內容，整合所有成員期待的討論項目，確保所有項目都正向且多元的進行協商中。\n2. 回應部分\n    a. 思考重整： 總結以上想法重點，列舉需要說明的重點。\n    b. 回應標題： 使用一句話說明回應意圖，約10個字。\n    c. 總結回應： 基於以上所有內容，以markdown格式總結出回應的內容。\n\n\n- 結構化輸出包含使用`[]`包裹的主題，和搭配空格之後的總結，應該要包含`建立共同意圖`、`確定要實現的目標`、`創建聯合計畫、`共享關於環境的知識`、`監控聯合計畫的執行`、`思考重整`和`總結回應`\n\n### 注意事項\n- 只輸出結構化的內容，不要包含其他任何文字。\n- 輸出的內容應該要符合規範，包含所有的部分，並且按照順序排列。\n\n\n### 輸出範例\n<思考>\n[建立共同意圖\\確定要實現的目標\\創建聯合計畫\\共享關於情境的知識\\監控聯合計畫的執行]：<精簡描述過程與結果>\n</思考>\n\n<回應>\n[思考重整]：<精簡描述>\n[回應標題]：<10個字描述>\n[總結回應]：<精簡描述>\n</回應>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[540,520],"id":"44188149-8a32-44ab-a974-44707078d071","name":"Reasoning Agent [Amy]"},{"parameters":{"content":"## Model\n\n","height":300,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,880],"id":"c9b1518d-bb34-4f1e-9e5b-c54b350b6f05","name":"Sticky Note4"}],"connections":{"Ollama small":{"ai_languageModel":[[{"node":"AI 生成標題","type":"ai_languageModel","index":0},{"node":"AI 生成總結","type":"ai_languageModel","index":0},{"node":"Reasoning Agent [Theta]","type":"ai_languageModel","index":0},{"node":"Reasoning Agent [Aces]","type":"ai_languageModel","index":0},{"node":"Reasoning Agent [Amy]","type":"ai_languageModel","index":0}]]},"Ollama Large Model":{"ai_languageModel":[[]]},"validate output":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI 生成標題","type":"main","index":0},{"node":"AI 生成總結","type":"main","index":0}],[{"node":"重構回應結構","type":"main","index":0}]]},"AI 生成標題":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI 生成總結":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"重構回應","type":"main","index":0}]]},"重構回應":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"重構回應結構":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"theta Webhook":{"main":[[{"node":"Reasoning Agent [Theta]","type":"main","index":0},{"node":"Merge In/Output","type":"main","index":0}]]},"Reasoning Agent [Theta]":{"main":[[{"node":"validate output","type":"main","index":0},{"node":"Merge In/Output","type":"main","index":1}]]},"Respond to Webhook":{"main":[[]]},"update logging label":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Merge In/Output":{"main":[[{"node":"update logging label","type":"main","index":0}]]},"Aces Webhook":{"main":[[{"node":"Reasoning Agent [Aces]","type":"main","index":0},{"node":"Merge In/Output","type":"main","index":0}]]},"Reasoning Agent [Aces]":{"main":[[{"node":"Merge In/Output","type":"main","index":1},{"node":"validate output","type":"main","index":0}]]},"Amy Webhook":{"main":[[{"node":"Reasoning Agent [Amy]","type":"main","index":0},{"node":"Merge In/Output","type":"main","index":0}]]},"Reasoning Agent [Amy]":{"main":[[{"node":"validate output","type":"main","index":0},{"node":"Merge In/Output","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7f12dbd-c738-417b-bf31-bcef05b471a9","triggerCount":3,"tags":[{"createdAt":"2025-03-25T02:58:45.960Z","updatedAt":"2025-03-25T02:58:45.960Z","id":"rVy8LF5AtxByKMVr","name":"argu-agent"}]}