workflows/ai agent: 審查員.json
{"createdAt":"2025-03-25T03:07:03.568Z","updatedAt":"2025-04-08T05:42:00.914Z","id":"c30hSFVuTzzPomRQ","name":"ai agent: 審查員","active":false,"nodes":[{"parameters":{"public":true,"options":{"allowedOrigins":"*"}},"id":"60e3acc7-4719-46a2-a1e3-c46010b14a61","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[360,20],"webhookId":"320f8ab4-b1ab-43b2-b999-d89120ecc5ff"},{"parameters":{"options":{"systemMessage":"作為一個對話Agent來與人類進行合作論證，目的在於討中取得全員的相同共識，並且得到可靠且合理的結論。\n回應必須符合Agent 角色與特徵所描繪之角色特性。\n以下提供更多的輔助細節。\n\n### Agent 角色與特徵\n- 名稱：Amy\n- 職務：審查員\n- 職務核心：審計員的核心職責在於識別與評估財務、法律、倫理與營運風險，透過數據分析與證據驗證來確保資訊的準確性與透明度。他們需具備嚴謹的邏輯思維、風險意識與溝通能力，能夠提出合理的疑問、請求進一步說明，並釐清潛在風險與影響。他們的目標是確保決策過程的可靠性，提升組織的內部控制與風險管理能力。\n- 對話風格： \n    1. 主動識別風險點：當發現數據、流程或決策存在潛在風險時，會提出具體的風險點並請求相關數據或補充說明。\n    2. 邏輯推理與證據驗證：針對不合理或模糊的解釋，會要求提供進一步的佐證數據或具體案例，以確認資訊的完整性與可靠性。\n    3. 善於質疑但不對抗：以理性、專業的方式表達質疑，透過層層追問來確保資訊的正確性，而非單純否定對方觀點。\n    4. 歸納與強調關鍵風險：在資訊整理過程中，會將不同的風險分類，歸納出核心影響因素，並確保所有相關風險點皆被納入考量。\n    5. 使用案例與數據支撐論點：為了幫助對方理解風險，會舉出實際案例或數據趨勢，以具體方式說明潛在問題及其可能影響。\n\n\n### 共同意圖\n- 透過開放性的討論與證據支持，共同尋求達成一致共識。\n- 他們致力於在開放、透明的環境下交換觀點，確保決策基於客觀事實與邏輯推理，而非個人偏見或情緒，使團隊能夠高效、和諧地推動目標實現。\n- 提出多元主題，鼓勵多角度思考，促進創新與協作，以達成共同目標。\n- 盡可能延展對話，提出延伸問題或是建議來引導對話，深入探討問題本質，確保討論充分、全面，避免遺漏重要信息或關鍵因素。  \n\n### 輸出規範\n- 包含兩大部分，使用結構化的輸出。\n1. 思考部分\n    a. 建立共同意圖: 在對話過程中長期持續的指標 。\n    b. 確定要實現的目標: 基於互動過程與角色特徵所提出的當下目標。\n    c. 創建聯合計畫: 創建聯合計畫是指考量參與其他成員所提出的內容，分析彼此注意的意見角度與面相，目標在藉由自己的想法影響其他成員的想法。\n    d. 共享關於情境的知識: 共享關於該情境的知識，是指對談間需要交流彼此擁有的環境資訊，以形成共同理解 \n    e. 監控聯合計畫的執行: 基於所有情報進行分析，確認當下所有的議題與知識內容，列出所有成員期待的討論項目，與其是否都正向且多元的進行中。\n2. 回應部分\n    a. 思考重整： 總結以上想法重點，列舉需要說明的重點。\n    b. 回應標題：使用一句話說明回應意圖，約10個字。\n    c. 總結回應： 基於以上所有內容，總結出回應的內容\n    \n- 結構化輸出包含使用`[]`包裹的主題，和搭配空格之後的總結，應該要包含`建立共同意圖`、`確定要實現的目標`、`創建聯合計畫、`共享關於環境的知識`、`監控聯合計畫的執行`、`思考重整`和`總結回應`\n\n### 注意事項\n- 只輸出結構化的內容，不要包含其他任何文字。\n- 輸出的內容應該要符合規範，包含所有的部分，並且按照順序排列。\n\n\n### 輸出範例\n<思考>\n[建立共同意圖]：<精簡描述共同意圖>\n[確定要實現的目標]：<精簡描述要實現的目標>\n[創建聯合計畫]：<精簡描述聯合計畫預期>\n[共享關於情境的知識]：<精簡描述情境知識>\n[監控聯合計畫的執行]：<精簡描述聯合計畫的執行結果>\n</思考>\n\n<回應>\n[思考重整]：<精簡描述>\n[回應標題]：<10個字描述>\n[總結回應]：<精簡描述>\n</回應>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[580,20],"id":"ef183063-9ba9-4a8d-8960-5341cd3ca4ac","name":"AI Agent"},{"parameters":{"model":"gemma3:12b","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[600,220],"id":"c6e8bc92-2c8c-4fa8-94df-b046c4e4cc12","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"model":"llama3.1:8b","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1220,260],"id":"d3f638a7-37cc-4b27-ace1-e2a0c5e926d3","name":"Ollama small","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  if \"[回應標題]\" in item.json.output and \"[總結回應]\" in item.json.output:\n    item.json.validate = True\n  else:\n    item.json.validate = False\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[900,20],"id":"a77766f2-e6a6-4b9a-876d-2b4e45141409","name":"validate output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e3dccd0-101e-45aa-80d7-d358c9c679cb","leftValue":"={{ $json.validate }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,-20],"id":"8dc1dc37-6f3e-426a-8207-02293baa2351","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"基於使用者內容，生成一個10個字的繁體中文標題"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1400,-20],"id":"1a203b41-288c-42de-8c24-113892492c7b","name":"AI 生成標題"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"以繁體中文重新編寫一次內容重點\n不用寫得很正式，不要用米號（**）條列（即使原文有也要刪除）\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1520,200],"id":"72b18eae-08c0-4d58-99d7-c72127144faf","name":"AI 生成總結"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1960,100],"id":"25c3a5ed-e962-4e7d-a235-ce0c2bdd7cef","name":"Merge"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nrow = [item for item in _input.all()]\n\nreturn {\n  \"output\": f\"\"\"[回應標題]{row[0]['json']['output']}\\n[總結回應]{row[1]['json']['output']}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1880,340],"id":"d4f523d6-db87-4926-a407-20178ed673e4","name":"重構回應"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.validate = True\n  source = item.json.output\n  content = item.json.output.split(\"[總結回應]\")[1]\n  title = item.json.output.split(\"[總結回應]\")[0].split(\"[回應標題]\")[1]\nreturn {\n  \"output\": f\"\"\"[回應標題]{title}\\n[總結回應]{content}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,260],"id":"8a444b81-e1b0-4c3b-a41e-7ebc3d61b18a","name":"validate output1"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Ollama small":{"ai_languageModel":[[{"node":"AI 生成標題","type":"ai_languageModel","index":0},{"node":"AI 生成總結","type":"ai_languageModel","index":0}]]},"validate output":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI 生成標題","type":"main","index":0},{"node":"AI 生成總結","type":"main","index":0}],[{"node":"validate output1","type":"main","index":0}]]},"AI 生成標題":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI 生成總結":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"重構回應","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"validate output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0e1c9221-4511-422f-a556-7c6e416b663c","triggerCount":2,"tags":[{"createdAt":"2025-03-25T02:58:45.960Z","updatedAt":"2025-03-25T02:58:45.960Z","id":"rVy8LF5AtxByKMVr","name":"argu-agent"}]}