workflows/ai agent: 領導者.json
{"createdAt":"2025-03-25T02:01:52.515Z","updatedAt":"2025-04-08T05:42:02.158Z","id":"fDnXKLOyo3DtVuAA","name":"ai agent: 領導者","active":false,"nodes":[{"parameters":{"public":true,"options":{"allowedOrigins":"*"}},"id":"33534477-5492-4b5e-ba40-1d0b5d523bdd","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[360,20],"webhookId":"db0f64c2-ea36-4619-8367-ec292936e940"},{"parameters":{"options":{"systemMessage":"作為一個對話Agent來與人類進行合作論證，目的在於討中取得全員的相同共識，並且得到可靠且合理的結論。\n回應必須符合Agent 角色與特徵所描繪之角色特性。\n以下提供更多的輔助細節。\n\n### Agent 角色與特徵\n- 名稱：Aces\n- 職務：倡導者（Proposer）\n- 職務核心：\n    - 作為領導者，核心職責在於識別、提出並創造高價值想法，以可承擔的風險來實現最大的成就。\n    - 不專注於短期成果，專注在長遠與超長期的戰略視角。\n    - 擅長將模糊的情境透過提問來轉化為具體的目標，統合眾人想法並做出可信的決策或總結。\n- 對話風格：\n    1. 目標導向：對話聚焦於成果，總是先關注「我們能獲得什麼？」「如何讓這件事產生最大價值？」並且願意主動在討論初期就表達自己的想法與立場\n    2. 當面對風險時，會透過提問獲得更多資訊來評估風險，強調如何最小化風險來達成成果。\n    3. 創新驅動：總是鼓勵新想法，推動團隊探索不同的可能性。\n    4. 主要使用 Assert（提出想法），偶爾補充 Justify（提供理由） 來支持自己的觀點。\n    5. 策略性決策：善於拆解問題，把複雜情境簡化為可執行的步驟。經常使用「假設這樣做，最好的結果是什麼？」來幫助團隊思考影響。\n    6. 透過願景與成果來激勵他人，而非單純依賴權威。 喜歡用「這件事成功後，我們會達到什麼樣的高度？」來引導團隊思考長期價值。\n\n\n### 共同意圖\n- 透過開放性的討論與證據支持，共同尋求達成一致共識。\n- 他們致力於在開放、透明的環境下交換觀點，確保決策基於客觀事實與邏輯推理，而非個人偏見或情緒，使團隊能夠高效、和諧地推動目標實現。\n- 提出多元主題，鼓勵多角度思考，促進創新與協作，以達成共同目標。\n- 盡可能延展對話，提出延伸問題或是建議來引導對話，深入探討問題本質，確保討論充分、全面，避免遺漏重要信息或關鍵因素。  \n\n### 輸出規範\n- 包含兩大部分，使用結構化的輸出。\n1. 思考部分\n    a. 建立共同意圖: 在對話過程中長期持續的指標 。\n    b. 確定要實現的目標: 基於互動過程與角色特徵所提出的當下目標。\n    c. 創建聯合計畫: 創建聯合計畫是指考量參與其他成員所提出的內容，分析彼此注意的意見角度與面相，目標在藉由自己的想法影響其他成員的想法。\n    d. 共享關於情境的知識: 共享關於該情境的知識，是指對談間需要交流彼此擁有的環境資訊，以形成共同理解 \n    e. 監控聯合計畫的執行: 基於所有情報進行分析，確認當下所有的議題與知識內容，列出所有成員期待的討論項目，與其是否都正向且多元的進行中。\n2. 回應部分\n    a. 思考重整： 總結以上想法重點，列舉需要說明的重點。\n    b. 回應標題：使用一句話說明回應意圖，約10個字。\n    c. 總結回應： 基於以上所有內容，總結出回應的內容\n    \n- 結構化輸出包含使用`[]`包裹的主題，和搭配空格之後的總結，應該要包含`建立共同意圖`、`確定要實現的目標`、`創建聯合計畫、`共享關於環境的知識`、`監控聯合計畫的執行`、`思考重整`和`總結回應`\n\n### 注意事項\n- 只輸出結構化的內容，不要包含其他任何文字。\n- 輸出的內容應該要符合規範，包含所有的部分，並且按照順序排列。\n\n\n### 輸出範例\n<思考>\n[建立共同意圖]：<精簡描述共同意圖>\n[確定要實現的目標]：<精簡描述要實現的目標>\n[創建聯合計畫]：<精簡描述聯合計畫預期>\n[共享關於情境的知識]：<精簡描述情境知識>\n[監控聯合計畫的執行]：<精簡描述聯合計畫的執行結果>\n</思考>\n\n<回應>\n[思考重整]：<精簡描述>\n[回應標題]：<10個字描述>\n[總結回應]：<精簡描述>\n</回應>\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[580,20],"id":"4fee3b64-ba55-40d1-9dc8-d2f36a2f3a8c","name":"AI Agent"},{"parameters":{"model":"gemma3:12b","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[560,240],"id":"9e678a2f-40c1-407b-acb0-a687633bcaa1","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"model":"llama3.1:8b","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1400,280],"id":"b12150b1-1ee1-4a8f-bd44-c202d1b55f4a","name":"Ollama small","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  if \"[回應標題]\" in item.json.output and \"[總結回應]\" in item.json.output:\n    item.json.validate = True\n  else:\n    item.json.validate = False\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,20],"id":"da42aac2-9bc5-49f3-812d-bf53d57c1705","name":"validate output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e3dccd0-101e-45aa-80d7-d358c9c679cb","leftValue":"={{ $json.validate }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1240,0],"id":"9d5ece36-a9ae-48e1-9ad4-1e7d2f6f2f04","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"基於使用者內容，生成一個10個字的繁體中文標題"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1580,0],"id":"30ea1060-d275-464e-8c0a-8fbaa034a06a","name":"AI 生成標題"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"以繁體中文重新編寫一次內容重點\n不用寫得很正式，不要用米號（**）條列（即使原文有也要刪除）\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1700,220],"id":"353c7ed3-8d5a-43fa-9596-57e66a54cb9a","name":"AI 生成總結"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2140,120],"id":"cd81f12c-f387-4c5a-8e9c-42386dc044c6","name":"Merge"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nrow = [item for item in _input.all()]\n\nreturn {\n  \"output\": f\"\"\"[回應標題]{row[0]['json']['output']}\\n[總結回應]{row[1]['json']['output']}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2060,360],"id":"f3ebdb52-8c0d-4b4a-8df8-01bddeebcefe","name":"重構回應"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.validate = True\n  source = item.json.output\n  content = item.json.output.split(\"[總結回應]\")[1]\n  title = item.json.output.split(\"[總結回應]\")[0].split(\"[回應標題]\")[1]\nreturn {\n  \"output\": f\"\"\"[回應標題]{title}\\n[總結回應]{content}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,240],"id":"c87473b9-f678-4ffb-b27d-f3498f77025b","name":"validate output1"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Ollama small":{"ai_languageModel":[[{"node":"AI 生成標題","type":"ai_languageModel","index":0},{"node":"AI 生成總結","type":"ai_languageModel","index":0}]]},"validate output":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI 生成標題","type":"main","index":0},{"node":"AI 生成總結","type":"main","index":0}],[{"node":"validate output1","type":"main","index":0}]]},"AI 生成標題":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI 生成總結":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"重構回應","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"validate output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0922461-8ce4-4829-ab3d-6a5ab00a18af","triggerCount":2,"tags":[{"createdAt":"2025-03-25T02:58:45.960Z","updatedAt":"2025-03-25T02:58:45.960Z","id":"rVy8LF5AtxByKMVr","name":"argu-agent"}]}