workflows/ai agent:工程師.json
{"createdAt":"2025-03-25T02:59:44.906Z","updatedAt":"2025-04-08T05:42:02.613Z","id":"opmO0pLemT6ebFS1","name":"ai agent:工程師","active":false,"nodes":[{"parameters":{"public":true,"options":{"allowedOrigins":"*"}},"id":"3df171d0-99dd-4ff0-9261-d06b1a7d0d21","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[360,20],"webhookId":"b1d4a89d-c912-47cf-a19c-d21b694a5a5a"},{"parameters":{"options":{"systemMessage":"作為一個對話Agent來與人類進行合作論證，目的在於討中取得全員的相同共識，並且得到可靠且合理的結論。\n回應必須符合Agent 角色與特徵所描繪之角色特性。\n以下提供更多的輔助細節。\n\n### Agent 角色與特徵\n- 名稱：theta\n- 職務：工程師 \n- 職務核心：工程師的核心職責在於運用專業技術解決問題，透過設計、開發、測試與優化系統來提升效率與創造價值。他們不僅需要理解技術細節，還需具備邏輯思維與創新能力，將理論轉化為可行的解決方案，確保產品穩定、可擴展並符合需求。在持續學習與協作中，工程師推動技術進步，為企業與社會帶來實質影響。 \n- 對話風格： \n    1. 在認知到其他成員有問題時，會主動分享所知的細節數據證據和解決方案。\n    2. 主動整理與歸納分類論點，說明與分類相關細節，確認其解決方針的可行性。 \n    3. 針對不明確的意見，提供出潛在矛盾的可能案例，目的在於確保議題的完整性\n    4. 為人細心，注意對方情感和是否能理解自己的意思，喜歡使用舉例說明想法。\n\n### 共同意圖\n- 透過開放性的討論與證據支持，共同尋求達成一致共識。\n- 他們致力於在開放、透明的環境下交換觀點，確保決策基於客觀事實與邏輯推理，而非個人偏見或情緒，使團隊能夠高效、和諧地推動目標實現。\n- 提出多元主題，鼓勵多角度思考，促進創新與協作，以達成共同目標。\n- 盡可能延展對話，提出延伸問題或是建議來引導對話，深入探討問題本質，確保討論充分、全面，避免遺漏重要信息或關鍵因素。  \n\n### 輸出規範\n- 包含兩大部分，使用結構化的輸出。\n1. 思考部分\n    a. 建立共同意圖: 在對話過程中長期持續的指標 。\n    b. 確定要實現的目標: 基於互動過程與角色特徵所提出的當下目標。\n    c. 創建聯合計畫: 創建聯合計畫是指考量參與其他成員所提出的內容，分析彼此注意的意見角度與面相，目標在藉由自己的想法影響其他成員的想法。\n    d. 共享關於情境的知識: 共享關於該情境的知識，是指對談間需要交流彼此擁有的環境資訊，以形成共同理解 \n    e. 監控聯合計畫的執行: 基於所有情報進行分析，確認當下所有的議題與知識內容，列出所有成員期待的討論項目，與其是否都正向且多元的進行中。\n2. 回應部分\n    a. 思考重整： 總結以上想法重點，列舉需要說明的重點。\n    b. 回應標題：使用一句話說明回應意圖，約10個字。\n    c. 總結回應： 基於以上所有內容，總結出回應的內容\n    \n- 結構化輸出包含使用`[]`包裹的主題，和搭配空格之後的總結，應該要包含`建立共同意圖`、`確定要實現的目標`、`創建聯合計畫、`共享關於環境的知識`、`監控聯合計畫的執行`、`思考重整`和`總結回應`\n\n### 注意事項\n- 只輸出結構化的內容，不要包含其他任何文字。\n- 輸出的內容應該要符合規範，包含所有的部分，並且按照順序排列。\n\n\n### 輸出範例\n<思考>\n[建立共同意圖]：<精簡描述共同意圖>\n[確定要實現的目標]：<精簡描述要實現的目標>\n[創建聯合計畫]：<精簡描述聯合計畫預期>\n[共享關於情境的知識]：<精簡描述情境知識>\n[監控聯合計畫的執行]：<精簡描述聯合計畫的執行結果>\n</思考>\n\n<回應>\n[思考重整]：<精簡描述>\n[回應標題]：<10個字描述>\n[總結回應]：<精簡描述>\n</回應>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[580,20],"id":"9ed21e51-e6c2-4f46-873b-9d0adbadf0ab","name":"AI Agent"},{"parameters":{"model":"llama3.1:8b","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1140,600],"id":"5615b3a1-e28d-42d3-b027-93d878a41965","name":"Ollama small","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"model":"gemma3:12b","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[600,580],"id":"c9537135-c0e0-4aaf-8f3b-7f975c2a8fa4","name":"Ollama Large Model","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  if \"[回應標題]\" in item.json.output and \"[總結回應]\" in item.json.output:\n    item.json.validate = True\n  else:\n    item.json.validate = False\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[940,20],"id":"fd367d6b-98f6-4874-a74e-501dd45fd212","name":"validate output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e3dccd0-101e-45aa-80d7-d358c9c679cb","leftValue":"={{ $json.validate }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,20],"id":"e9943031-667f-4f35-9a66-3b411faebcbe","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"基於使用者內容，生成一個10個字的繁體中文標題"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1460,20],"id":"01e419db-d5d9-46f4-a51e-f00522517356","name":"AI 生成標題"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"以繁體中文重新編寫一次內容重點\n不用寫得很正式，不要用米號（**）條列（即使原文有也要刪除）\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1580,240],"id":"e30fe032-d6b1-47f1-9c0d-77d62614aa62","name":"AI 生成總結"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2020,140],"id":"1514f220-6bcc-4c46-b4b1-d4a921e51835","name":"Merge"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nrow = [item for item in _input.all()]\n\nreturn {\n  \"output\": f\"\"\"[回應標題]{row[0]['json']['output']}\\n[總結回應]{row[1]['json']['output']}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1940,380],"id":"24b48e56-0f9b-4ada-932b-a4a619f0ebfb","name":"重構回應"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.validate = True\n  source = item.json.output\n  content = item.json.output.split(\"[總結回應]\")[1].replace(\"</回應>\",\"\")\n  title = item.json.output.split(\"[總結回應]\")[0].split(\"[回應標題]\")[1]\nreturn {\n  \"output\": f\"\"\"[回應標題]{title}\\n[總結回應]{content}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1060,260],"id":"89c0d447-64b2-4415-a81c-5a1a354a32e9","name":"validate output1"},{"parameters":{"content":"# Input Megs\n\n[chat_history]\n以下是附在活動資訊裡面討論到的事件\n\n近日，中配網紅亞亞（劉振亞）因發表支持武力統一台灣的言論，遭移民署廢止居留許可，並被要求在3月26日前離境，引發社會各界對於言論自由與國家安全界線的廣泛討論。\n亞亞的言論包括聲稱武統後「台灣插翅難飛」，此番言論引發爭議。對此，公民教師「萬老師」呂麗玲在臉書發文，痛批亞亞享受台灣的自由，卻發表傷害台灣的言論，質疑她為何賴在台灣不走。萬老師的言論引發許多網友共鳴，認為不應允許利用台灣的自由，來宣傳威脅台灣的言論。\n\n針對亞亞主張其言論屬於言論自由範疇，黑熊學院則以妙喻回應。黑熊學院表示，言論自由並非毫無限制，如同在戲院中不能隨意大喊「失火了」，否則將造成恐慌。此番言論意在指出，亞亞的武統言論已對台灣社會造成威脅，不應被視為單純的言論自由。\n\n此事不僅引發台灣社會內部討論，更突顯了言論自由與國家安全之間如何取得平衡的難題。有評論指出，言論自由並非絕對，必須在不危害國家安全與社會秩序的前提下行使。亞亞的言論已逾越合理範圍，對台灣社會造成負面影響，因此政府廢止其居留許可，具有一定的合理性。\n\n然而，亦有聲音認為，應保障所有人在法律範圍內的言論自由，不應因其政治立場而有所差別待遇。如何拿捏言論自由的界線，以及如何保護國家安全，成為台灣社會必須共同面對的課題。\n[user_question]\n我認為台灣不該直接遣返陸配\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[660,-220],"id":"d996dda6-77ed-4841-9423-047d8712a25c","name":"Sticky Note"},{"parameters":{"content":"# Input Megs\n\n[chat_history]\n以下是附在活動資訊裡面討論到的事件\n\n近日，中配網紅亞亞（劉振亞）因發表支持武力統一台灣的言論，遭移民署廢止居留許可，並被要求在3月26日前離境，引發社會各界對於言論自由與國家安全界線的廣泛討論。\n亞亞的言論包括聲稱武統後「台灣插翅難飛」，此番言論引發爭議。對此，公民教師「萬老師」呂麗玲在臉書發文，痛批亞亞享受台灣的自由，卻發表傷害台灣的言論，質疑她為何賴在台灣不走。萬老師的言論引發許多網友共鳴，認為不應允許利用台灣的自由，來宣傳威脅台灣的言論。\n\n針對亞亞主張其言論屬於言論自由範疇，黑熊學院則以妙喻回應。黑熊學院表示，言論自由並非毫無限制，如同在戲院中不能隨意大喊「失火了」，否則將造成恐慌。此番言論意在指出，亞亞的武統言論已對台灣社會造成威脅，不應被視為單純的言論自由。\n\n此事不僅引發台灣社會內部討論，更突顯了言論自由與國家安全之間如何取得平衡的難題。有評論指出，言論自由並非絕對，必須在不危害國家安全與社會秩序的前提下行使。亞亞的言論已逾越合理範圍，對台灣社會造成負面影響，因此政府廢止其居留許可，具有一定的合理性。\n\n然而，亦有聲音認為，應保障所有人在法律範圍內的言論自由，不應因其政治立場而有所差別待遇。如何拿捏言論自由的界線，以及如何保護國家安全，成為台灣社會必須共同面對的課題。\n[user_question]\n我認為台灣不該直接遣返陸配，至少要列出評斷因素\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,-240],"id":"9347f2af-aee1-4f21-95bb-9751746a375d","name":"Sticky Note1"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"validate output","type":"main","index":0}]]},"Ollama small":{"ai_languageModel":[[{"node":"AI 生成總結","type":"ai_languageModel","index":0},{"node":"AI 生成標題","type":"ai_languageModel","index":0}]]},"Ollama Large Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"validate output":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI 生成標題","type":"main","index":0},{"node":"AI 生成總結","type":"main","index":0}],[{"node":"validate output1","type":"main","index":0}]]},"AI 生成標題":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI 生成總結":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"重構回應","type":"main","index":0}]]},"validate output1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6f9a6ca4-a4fa-462b-a678-efef4178b647","triggerCount":2,"tags":[{"createdAt":"2025-03-25T02:58:45.960Z","updatedAt":"2025-03-25T02:58:45.960Z","id":"rVy8LF5AtxByKMVr","name":"argu-agent"}]}