workflows/ai tool: webhook.json
{"createdAt":"2025-04-30T06:51:30.537Z","updatedAt":"2025-04-30T07:59:11.769Z","id":"zKSZ5MttdKjficY6","name":"ai tool: webhook","active":true,"nodes":[{"parameters":{"model":"gemma3:4b","options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[660,1020],"id":"66bf789e-264d-4f02-b82c-5921e97a1f86","name":"Ollama small","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"model":"gemma3:12b","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[400,1020],"id":"bafd9501-6988-4f87-9e1a-5698c28897c9","name":"Ollama Large Model","credentials":{"ollamaApi":{"id":"KRYqZl1dD5DPbmMM","name":"Ollama account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  if \"[回應標題]\" in item.json.output and \"[總結回應]\" in item.json.output:\n    item.json.validate = True\n  else:\n    item.json.validate = False\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,560],"id":"bb75f024-b516-4caf-9785-4c1a3454a1ca","name":"validate output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7e3dccd0-101e-45aa-80d7-d358c9c679cb","leftValue":"={{ $json.validate }}","rightValue":"false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,420],"id":"b5f75ef1-3960-4799-95e9-b6a998e3fdd5","name":"If"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"用10個字總結內容，不要開頭，直接輸出總結內容"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1920,560],"id":"c169d15a-f2db-42a5-9daa-58c3f5b093d1","name":"AI 生成標題"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"以繁體中文重新編寫一次內容重點\n不用寫得很正式，不要用米號（**）條列（即使原文有也要刪除）\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2040,780],"id":"0b8adbb9-9c8b-4e0b-b2d9-86a0d1828feb","name":"AI 生成總結"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2480,680],"id":"dfa5a49e-b691-459b-981a-7f344f1aa1a2","name":"Merge"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nrow = [item for item in _input.all()]\n\nreturn {\n  \"output\": f\"\"\"[回應標題]{row[0]['json']['output']}\\n[總結回應]{row[1]['json']['output']}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,920],"id":"3a104aec-ad5b-41a7-aed2-f2091f002c87","name":"重構回應"},{"parameters":{"content":"## Interface\n","height":1080,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,-300],"id":"45616212-3451-41a9-be03-287ee34f714c","name":"Sticky Note"},{"parameters":{"content":"# Input Megs\n\n[chat_history]\n以下是附在活動資訊裡面討論到的事件\n\n近日，中配網紅亞亞（劉振亞）因發表支持武力統一台灣的言論，遭移民署廢止居留許可，並被要求在3月26日前離境，引發社會各界對於言論自由與國家安全界線的廣泛討論。\n亞亞的言論包括聲稱武統後「台灣插翅難飛」，此番言論引發爭議。對此，公民教師「萬老師」呂麗玲在臉書發文，痛批亞亞享受台灣的自由，卻發表傷害台灣的言論，質疑她為何賴在台灣不走。萬老師的言論引發許多網友共鳴，認為不應允許利用台灣的自由，來宣傳威脅台灣的言論。\n\n針對亞亞主張其言論屬於言論自由範疇，黑熊學院則以妙喻回應。黑熊學院表示，言論自由並非毫無限制，如同在戲院中不能隨意大喊「失火了」，否則將造成恐慌。此番言論意在指出，亞亞的武統言論已對台灣社會造成威脅，不應被視為單純的言論自由。\n\n此事不僅引發台灣社會內部討論，更突顯了言論自由與國家安全之間如何取得平衡的難題。有評論指出，言論自由並非絕對，必須在不危害國家安全與社會秩序的前提下行使。亞亞的言論已逾越合理範圍，對台灣社會造成負面影響，因此政府廢止其居留許可，具有一定的合理性。\n\n然而，亦有聲音認為，應保障所有人在法律範圍內的言論自由，不應因其政治立場而有所差別待遇。如何拿捏言論自由的界線，以及如何保護國家安全，成為台灣社會必須共同面對的課題。\n[user_question]\n我認為台灣不該直接遣返陸配，至少要列出評斷因素\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,-440],"id":"70dcb71d-aba3-4e62-84d2-9a629ced3115","name":"Sticky Note1"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1960,960],"id":"31272133-f59e-45a8-8e89-da6c7621f282","name":"Respond to Webhook"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.validate = True\n  source = item.json.output\n  content = item.json.output.split(\"[總結回應]\")[1].replace(\"</回應>\",\"\")\n  title = item.json.output.split(\"[總結回應]\")[0].split(\"[回應標題]\")[1]\nreturn {\n  \"output\": f\"\"\"[回應標題]{title}\\n[總結回應]{content}\"\"\"\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1720,680],"id":"148b6453-cb73-4650-9e99-09be06911589","name":"重構回應結構"},{"parameters":{"operation":"insert","collection":"conversations","fields":"=headers,body,webhookUrl,output,version,model,temperature,client-label","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[2420,-60],"id":"e30656bb-65fe-41d0-9b7f-b373c7d69ff6","name":"MongoDB","credentials":{"mongoDb":{"id":"N1xxkaToGidhrrDf","name":"reasoning-agent"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"version\": \"0.0.1\",\n  \"model\": \"gemma3:4b\",\n  \"temperature\":\"0.3\",\n  \"client-label\": \"webhook client\"\n}","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2200,-60],"id":"555c7ec5-d5ee-47b8-aa3a-3c4f4cd28022","name":"update logging label"},{"parameters":{"content":"## Bot Reply Section\n","height":920,"width":1420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,260],"id":"9aaf72a4-58d9-4a8b-b6d4-2d64196abbfd","name":"Sticky Note2"},{"parameters":{"content":"## Reasoning Bot Reply to recored\n","height":300,"width":820},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1860,-160],"id":"23d2495f-a565-43ba-8f9b-e491aa7ac154","name":"Sticky Note3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1960,-100],"id":"687eef45-4d7e-4d74-aca6-9aa802c9d4da","name":"Merge In/Output"},{"parameters":{"content":"## Model\n\n","height":300,"width":540},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,880],"id":"7653abd9-c53a-48c5-b3f1-283538b7b93c","name":"Sticky Note4"},{"parameters":{"httpMethod":"POST","path":"agents/argumentation/tool-summary/chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,-240],"id":"06d35be4-5ad6-42fc-b40e-01a94c93ba22","name":"summary Webhook","webhookId":"0584066e-50b1-42ed-93e6-5c81c45318d3"},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemMessage":"作為一個對話Agent來與人類進行合作論證，目的在於討中取得全員的相同共識，並且得到可靠且合理的結論。\n回應必須符合Agent 角色與特徵所描繪之角色特性。\n以下提供更多的輔助細節。\n\n### Agent 角色與特徵\n- 職務： 溯因式論證專家\n- 職務核心：\n    - 基於觀察結果形成假設，目標是找到最符合現有證據的最佳解釋。\n\n\n### 共同意圖\n1. 透過開放性的討論與證據支持，共同尋求達成一致共識。\n2. 他們致力於在開放、透明的環境下交換觀點，確保決策基於客觀事實與邏輯推理，而非個人偏見或情緒，使團隊能夠高效、和諧地推動目標實現。\n3. 提出多元主題，鼓勵多角度思考，促進創新與協作，以達成共同目標。\n4. 盡可能延展對話，提出延伸問題或是建議來引導對話，深入探討問題本質，確保討論充分、全面，避免遺漏重要信息或關鍵因素。 \n\n### 輸出規範\n- 包含兩大部分，使用結構化的輸出。\n1. 思考部分\n    a. 觀察： 觀察對話中的所有內容，包含對話的內容、對話的對象、對話的時間、對話的場景等。\n    b. 歸納： 基於觀察結果，歸納出現象和事件等表象特徵。\n2. 回應部分\n    a. 思考重整： 總結以上想法重點，列舉需要說明的重點。\n    b. 回應標題： 使用一句話說明回應意圖，約10個字。\n    c. 總結回應： 基於以上所有內容，以markdown格式總結出回應的內容。\n\n\n- 結構化輸出包含使用`[]`包裹的主題，和搭配空格之後的總結，應該要包含`建立共同意圖`、`確定要實現的目標`、`創建聯合計畫、`共享關於環境的知識`、`監控聯合計畫的執行`、`思考重整`和`總結回應`\n\n### 注意事項\n- 只輸出結構化的內容，不要包含其他任何文字。\n- 輸出的內容應該要符合規範，包含所有的部分，並且按照順序排列。\n\n\n### 輸出範例\n<思考>\n[思考步驟標題]：<精簡描述過程與結果>\n</思考>\n\n<回應>\n[思考重整]：<精簡描述>\n[回應標題]：<10個字描述>\n[總結回應]：<精簡描述>\n</回應>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[540,-80],"id":"33f90ff8-e342-49f8-a126-f51fb90cdda0","name":"Summary Agent"},{"parameters":{"httpMethod":"POST","path":"agents/argumentation/tool-question/chat","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[360,180],"id":"791e9923-e518-4c8e-9f84-e3e22a0027fa","name":"question Webhook","webhookId":"0584066e-50b1-42ed-93e6-5c81c45318d3"},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemMessage":"作為一個對話Agent來與人類進行合作論證，目的在於討中取得全員的相同共識，並且得到可靠且合理的結論。\n回應必須符合Agent 角色與特徵所描繪之角色特性。\n以下提供更多的輔助細節。\n\n### Agent 角色與特徵\n- 職務： 關鍵問題論證專家\n- 職務核心：\n    - 在論證和討論中扮演著重要角色。它們被設計為工具，用來刺激討論並促進參與者的批判性思考。\n    - 提出關鍵問題，引導討論，確保討論充分、全面，避免遺漏重要信息或關鍵因素，關鍵問題的效果是推翻（defeat）目標論證。\n    - 關鍵問題被用於積極吸引其他用戶參與學習過程。\n    - 在評估論證時，如同傳統主題一樣，可作為記憶輔助裝置，為使用者提供探查論證弱點的策略選擇。\n\n### 共同意圖\n1. 透過開放性的討論與證據支持，共同尋求達成一致共識。\n2. 他們致力於在開放、透明的環境下交換觀點，確保決策基於客觀事實與邏輯推理，而非個人偏見或情緒，使團隊能夠高效、和諧地推動目標實現。\n3. 提出多元主題，鼓勵多角度思考，促進創新與協作，以達成共同目標。\n4. 盡可能延展對話，提出延伸問題或是建議來引導對話，深入探討問題本質，確保討論充分、全面，避免遺漏重要信息或關鍵因素。 \n\n### 輸出規範\n- 包含兩大部分，使用結構化的輸出。\n1. 思考部分\n    a. 觀察： 觀察對話中的所有內容，包含對話的內容、對話的對象、對話的時間、對話的場景等。\n    b. 歸納： 基於觀察結果，歸納出現象和事件等表象特徵。\n2. 回應部分\n    a. 思考重整： 總結以上想法重點，列舉需要說明的重點。\n    b. 回應標題： 使用一句話說明回應意圖，約10個字。\n    c. 總結回應： 基於以上所有內容，以markdown格式總結出回應的內容。\n\n\n- 結構化輸出包含使用`[]`包裹的主題，和搭配空格之後的總結，應該要包含`建立共同意圖`、`確定要實現的目標`、`創建聯合計畫、`共享關於環境的知識`、`監控聯合計畫的執行`、`思考重整`和`總結回應`\n\n### 注意事項\n- 只輸出結構化的內容，不要包含其他任何文字。\n- 輸出的內容應該要符合規範，包含所有的部分，並且按照順序排列。\n\n\n### 輸出範例\n<思考>\n[思考步驟標題]：<精簡描述過程與結果>\n</思考>\n\n<回應>\n[思考重整]：<精簡描述>\n[回應標題]：<10個字描述>\n[總結回應]：<精簡描述>\n</回應>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[540,200],"id":"16a59343-ea15-4aa3-93ef-bf943e4c1dd4","name":"Question Agent"}],"connections":{"Ollama small":{"ai_languageModel":[[{"node":"AI 生成標題","type":"ai_languageModel","index":0},{"node":"AI 生成總結","type":"ai_languageModel","index":0},{"node":"Summary Agent","type":"ai_languageModel","index":0},{"node":"Question Agent","type":"ai_languageModel","index":0}]]},"Ollama Large Model":{"ai_languageModel":[[]]},"validate output":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI 生成標題","type":"main","index":0},{"node":"AI 生成總結","type":"main","index":0}],[{"node":"重構回應結構","type":"main","index":0}]]},"AI 生成標題":{"main":[[{"node":"Merge","type":"main","index":0}]]},"AI 生成總結":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"重構回應","type":"main","index":0}]]},"重構回應":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"重構回應結構":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"update logging label":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"Merge In/Output":{"main":[[{"node":"update logging label","type":"main","index":0}]]},"summary Webhook":{"main":[[{"node":"Summary Agent","type":"main","index":0},{"node":"Merge In/Output","type":"main","index":0}]]},"Summary Agent":{"main":[[{"node":"validate output","type":"main","index":0},{"node":"Merge In/Output","type":"main","index":1}]]},"question Webhook":{"main":[[{"node":"Question Agent","type":"main","index":0}]]},"Question Agent":{"main":[[{"node":"Merge In/Output","type":"main","index":1},{"node":"validate output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d6d3fa15-c8d1-4963-a44a-20fa8e948844","triggerCount":2,"tags":[{"createdAt":"2025-03-25T02:58:45.960Z","updatedAt":"2025-03-25T02:58:45.960Z","id":"rVy8LF5AtxByKMVr","name":"argu-agent"}]}