workflows/Backup workflows to Github.json
{"createdAt":"2025-05-06T08:54:01.461Z","updatedAt":"2025-05-06T11:31:09.937Z","id":"mBJx9Tl7mAc62Wjx","name":"Backup workflows to Github","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"Chunshan-Theta"},{"name":"repo.name","value":"n8n-ops"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"8ce2cb45-389c-44b4-92d1-ab6d51890475","name":"Globals","type":"n8n-nodes-base.set","position":[-180,100],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"505d856c-de75-43ed-a50f-0ef6b62a9f09","name":"n8n","type":"n8n-nodes-base.n8n","position":[60,100],"typeVersion":1,"credentials":{"n8nApi":{"id":"KCQ81rygLT6vAGdA","name":"n8n.lazyinwork.com"}}},{"parameters":{"options":{}},"id":"4da5b299-dbda-4f0a-a3f0-d13997e5b60a","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[280,100],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"299730fa-11c3-4232-8d4f-c28fcdb2a79e","name":"If","type":"n8n-nodes-base.if","position":[720,180],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"e7598c33-24c1-469b-b1ea-525389c190d6","name":"If1","type":"n8n-nodes-base.if","position":[1600,460],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"a6b13eaa-cdb0-45dc-8f55-1704ce6f0541","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"9b87062e-5e9c-4752-927d-faa8ed47d9c5","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[900,340],"typeVersion":1,"webhookId":"67d78514-267e-4c9c-9000-963c2fccb373"},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"6959f24f-c4c5-4bb1-a759-282a4a781f19","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1960,660],"typeVersion":1,"webhookId":"0ca119a6-4d51-4e55-86e5-6551fa29d087"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"f27ed90d-6bab-4e47-9019-b5cd994b8f40","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,100],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"ec054f41-2be9-44b3-a412-dd5017359ffe","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2120,680],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"28e5c631-7ff7-478b-adce-8e503a953291","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1740,460],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"b9ac82bc-6da6-44ac-ae51-68d88187a338","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1020,360],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"f5b67269-cb74-419e-bab4-4c5bdcdaa51f","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"6e517e2c-b3cc-49ac-9f93-042f7108171d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1220,60],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"6fdec75a-96aa-48d7-b302-d0e348689eb9","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"33019f8a-b4a6-4280-ad4e-f204261ac074","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-260,240],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{"reference":"prod-110"}},"id":"2cb512e5-4282-4bfd-a694-8e41b3e2a7c5","name":"GitHub Get Json","type":"n8n-nodes-base.github","position":[520,180],"typeVersion":1,"alwaysOutputData":true,"webhookId":"e3c37fc0-693e-4126-b838-46ce5bc4b385","credentials":{"githubApi":{"id":"kr9XsVdwIxLUNDKC","name":"GitHub theta"}},"continueOnFail":true}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub Get Json","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GitHub Get Json":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"394bdba3-039d-4844-805b-b1d0ba62d772","triggerCount":0,"tags":[]}