workflows/ET.json
{"createdAt":"2025-04-05T06:56:33.473Z","updatedAt":"2025-04-11T08:22:46.244Z","id":"5tfw5RyL782IRARo","name":"ET","active":false,"nodes":[{"parameters":{"model":"gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[640,260],"id":"2557283b-c839-4396-b876-b78413484d47","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"NLJA5zBJwxeEotcP","name":"Azure Open AI account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[640,480],"id":"5b4e040f-d367-4565-a4bc-3ad824284334","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"PvCXnqk8auxoKiDY","name":"Ollama account 2"}}},{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,80],"id":"4749dc4f-e590-4603-8951-3035b768a5a3","name":"設定時間"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"topic\": \"自然奇觀 (森林、山川、湖泊)\",\n  \"query\": \"natural wonders OR forest ecology OR mountains OR rivers OR lakes\",\n  \"//\": \"太陽的秘密 (太陽、恆星、折射)solar+energy+OR+sunlight+and+life+OR+refraction+of+light、力與運動 (地球引力、摩擦力、動能、阻力、萬有引力性)gravity+on+earth+OR+force+and+motion+OR+measuring+force+OR+friction+and+its+effect\"\n  \n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[100,80],"id":"7bc1c372-c829-499f-b6a3-da60d93918f0","name":"選擇活動主題與關鍵字"},{"parameters":{"url":"=https://newsapi.org/v2/everything?q={{ $json.query }}&apiKey=78e0265b8b124d189b2f83003e06ad21","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,80],"id":"29238c51-cfaf-4347-8e9c-753c40bdc332","name":"讀取網路文章"},{"parameters":{"promptType":"=define","text":"=您是國小自然科補充閱讀編輯，負責篩選、翻譯和整理最新的自然與生活應用相關新聞，並確保資訊清晰且美觀地呈現給學生。請根據以下規範生成最終內容：\n\n1. 新聞選擇與整合\n請仔細檢查提供的整份新聞清單，並依據每篇新聞的相關性來選擇，而非僅選取前幾筆。從提供的新聞清單{{ $json.articles }}中，不要只挑選最前面的新聞，請從整個列表中隨機或均勻篩選至少 2 則與「{{ $('選擇活動主題與關鍵字').item.json.topic }}」或一般生活自然相關的新聞，合併成一篇有趣易懂的文章。\n\n若新聞涉及政治、災害、財經等主題，請忽略不採用。\n\n2. 翻譯與用詞\n以繁體中文撰寫，可適度保留常見英文術語（如 Physics、Energy、Photosynthesis 等）。\n\n語言需貼近國小學生的理解程度，避免過度專業化用詞。\n\n3. 內容長度與可讀性\n文章約 500 字，適合國小學生閱讀。\n\n活潑易懂，能引起好奇心並鼓勵發問。\n\n4. 維基百科連結規範\n在文中插入 1~2 個與主題密切相關的維基百科連結。\n\n請先檢查並確保插入的連結確實有對應的維基百科條目；若查無相同標題的中文頁面，請連結到涵蓋範圍更廣或相近概念的條目。\n\n連結格式範例：\n\n<a href=\"https://zh.wikipedia.org/wiki/生態\">維基百科知識連結</a>\n5. 新聞參考連結\n在文章最後的段落或清單中，列出所引用的新聞連結，以利讀者核對來源。\n\n可依照下列格式範例（HTML）呈現：\n\n<h3>參考新聞來源：</h3>\n<ul>\n  <li><a href=\"對應的新聞連結1\">新聞標題或摘要</a></li>\n  <li><a href=\"對應的新聞連結2\">新聞標題或摘要</a></li>\n</ul>\n6. HTML 格式與排版\n請勿使用 Markdown 格式。\n\n使用 <h3> 來表示標題；使用 <p> 來表示段落；使用 <ul>、<li> 來列出要點或新聞摘要。\n\n7. 最終輸出格式（JSON）\n請嚴格依照下列 JSON 結構輸出：\n\n{\n  \"title\": \"生成的文章標題\",\n  \"content\": \"<h3>摘要：</h3><p>…</p><h3>內容：</h3><p>…</p><ul><li>…</li></ul>\"\n}\ntitle: 為文章取一個有趣、有創意的主題。\n\ncontent: 為完整的 HTML 字串，包含 <h3>、<p>、<ul>、<li>、維基百科連結、以及引用的新聞連結等標籤。\n\n請在 <content> 中的尾段或結尾部分，另外新增 <h3>參考新聞來源：</h3> 標題及 <ul> 清單，列出本次引用的新聞連結。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[620,80],"id":"0bf28394-038f-46a6-bb44-dce8f38b21f1","name":"AI Agent生成"},{"parameters":{"title":"={{ $('數據轉換1').item.json.json.title }}","additionalFields":{"content":"={{ $('數據轉換1').item.json.json.content }}","status":"publish","categories":[33]}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[1100,80],"id":"9700f163-4539-4eee-9c9c-7349cedf46c0","name":"上傳Wordpress","credentials":{"wordpressApi":{"id":"kF1M0dE8nCthE3EQ","name":"Wordpress account 2"}}},{"parameters":{"url":"https://etwork.live/wp-json/wp/v2/media?per_page=100&type=image","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,80],"id":"91853f06-7269-4ac4-b01f-aa58f0367eeb","name":"讀取圖片","credentials":{"wordpressApi":{"id":"kF1M0dE8nCthE3EQ","name":"Wordpress account 2"}}},{"parameters":{"functionCode":"// 確保我們從 Pexels 的回應中提取圖片數組\nconst images = $json[\"photos\"];  // 確保從 'photos' 中提取數組\n\n// 檢查是否獲得了圖片數組，避免出現 undefined\nif (images && images.length > 0) {\n  const randomIndex = Math.floor(Math.random() * images.length);  // 隨機選擇一張圖片\n  const randomImage = images[randomIndex];\n  return {\n    json: {\n      selectedImageId: randomImage.id  // 獲取該圖片的 ID\n    }\n  };\n} else {\n  return {\n    json: {\n      error: \"No images found.\"\n    }\n  };\n}\n"},"name":"設定圖片","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[1460,80],"id":"ed11f54b-eaef-4d74-8f61-53622d0a445a"},{"parameters":{"method":"POST","url":"=https://etwork.live//wp-json/wp/v2/posts/{{ $('上傳Wordpress').item.json.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"featured_media\": {{ $('讀取圖片').item.json.id }}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,80],"id":"86f3a4e0-5b51-47ea-a2b9-c76498fe45ca","name":"設定精選","credentials":{"wordpressApi":{"id":"kF1M0dE8nCthE3EQ","name":"Wordpress account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"542a67ef-b627-4c71-8188-8a208c500cb1","name":"articles","value":"={{ $json.articles }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,80],"id":"99a8935d-4e10-4c5e-b8a8-0fdf7ad5295d","name":"數據轉換"},{"parameters":{"functionCode":"const rawString = $json.output;\nconst data = JSON.parse(rawString);\n\nreturn {\n  json: {\n    title: data.title,\n    content: data.content\n  }\n};\n"},"name":"數據轉換1","type":"n8n-nodes-base.functionItem","typeVersion":1,"position":[940,80],"id":"db2af44e-f2a7-45a4-ba9b-2eb10deb2701"}],"connections":{"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent生成","type":"ai_languageModel","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[]]},"設定時間":{"main":[[{"node":"選擇活動主題與關鍵字","type":"main","index":0}]]},"選擇活動主題與關鍵字":{"main":[[{"node":"讀取網路文章","type":"main","index":0}]]},"讀取網路文章":{"main":[[{"node":"數據轉換","type":"main","index":0}]]},"AI Agent生成":{"main":[[{"node":"數據轉換1","type":"main","index":0}]]},"上傳Wordpress":{"main":[[{"node":"讀取圖片","type":"main","index":0}]]},"讀取圖片":{"main":[[{"node":"設定圖片","type":"main","index":0}]]},"設定圖片":{"main":[[{"node":"設定精選","type":"main","index":0}]]},"數據轉換":{"main":[[{"node":"AI Agent生成","type":"main","index":0}]]},"數據轉換1":{"main":[[{"node":"上傳Wordpress","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Taipei","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:設定時間":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c04d8718-8d7c-4801-9ec6-d6fb897a7225","triggerCount":1,"tags":[]}