workflows/Get News Data.json
{"createdAt":"2025-05-06T11:45:53.267Z","updatedAt":"2025-05-06T12:13:08.869Z","id":"hri9sNwM7EYHjxEy","name":"Get News Data","active":true,"nodes":[{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"StretchedBox","cssSelector":".StreamMegaItem","returnValue":"html","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1440,260],"id":"00f0d89c-62b9-4be7-864e-73d4e59d915f","name":"HTML"},{"parameters":{"language":"python","pythonCode":"\nwithout_ad = _input.all()[1:]\nreturn  without_ad"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-980,260],"id":"c2810377-9f12-4fa9-a2b9-244d7cd0932c","name":"removed ad"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom bs4 import BeautifulSoup\n\nreturn_dict = {\"news\":[]}\nfor item in _input.all():\n  rows = item['json']['StretchedBox']\n  for html in rows:    \n    # 解析 HTML\n    soup = BeautifulSoup(html, \"html.parser\")\n    \n    # 取得標題\n    title = soup.find(\"h3\").text.strip() if soup.find(\"h3\") else \"無標題\"\n    \n    # 取得文章連結\n    link_tag = soup.find(\"h3\").find(\"a\") if soup.find(\"h3\") else None\n    link = f\"https://tw.news.yahoo.com{link_tag['href']}\" if link_tag else \"無連結\"\n    \n    # 取得圖片 URL\n    image_tag = soup.find(\"img\")\n    image_url = image_tag[\"src\"] if image_tag else \"無圖片\"\n    \n    # 取得描述內容\n    description = soup.find(\"p\").text.strip() if soup.find(\"p\") else \"無描述\"\n    \n    # 取得來源 & 發布時間\n    source_time_tag = soup.find(\"div\", class_=\"C(#959595)\")\n    source_time = source_time_tag.text.strip() if source_time_tag else \"無來源資訊\"\n    \n    # 取得留言連結\n    comment_tag = soup.find(\"a\", class_=\"comment-btn-link\")\n    comment_link = f\"https://tw.news.yahoo.com{comment_tag['href']}\" if comment_tag else \"無留言連結\"\n    \n    # 輸出結果\n    news_data = {\n        \"標題\": title,\n        \"連結\": link,\n        \"圖片 URL\": image_url,\n        \"描述\": description,\n        \"來源與時間\": source_time,\n        \"留言連結\": comment_link\n    }\n\n    return_dict['news'].append(news_data)\n    \nreturn return_dict['news']\n    \n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1220,260],"id":"ac4acbc2-3886-4b65-a556-9ad0e9b2baf8","name":"split news"},{"parameters":{"url":"={{ $json['連結'] }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"ff11f0e3-1c69-4e8c-8278-f261b6e030ad","name":"get article content","retryOnFail":false,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom bs4 import BeautifulSoup\nimport json\n\n\nfor item in _input.all():\n  html = item['json']['body']\n  soup = BeautifulSoup(html, \"html.parser\")\n  # 提取 JSON-LD 內容\n  script_tag = soup.find(\"script\", type=\"application/ld+json\")\n  json_data = json.loads(script_tag.string)\n  \n      \n  # 結構化數據\n  ld_json = {\n      \"ld_json_標題\": json_data.get(\"headline\"),\n      \"ld_json_發佈時間\": json_data.get(\"datePublished\"),\n      \"ld_json_修改時間\": json_data.get(\"dateModified\"),\n      \"ld_json_關鍵詞\": json_data.get(\"keywords\"),\n      \"ld_json_描述\": json_data.get(\"description\"),\n      \"ld_json_發布者\": json_data.get(\"publisher\", {}).get(\"name\"),\n      \"ld_json_作者\": json_data.get(\"author\", {}).get(\"name\"),\n      \"ld_json_新聞連結\": json_data.get(\"mainEntityOfPage\"),\n      \"ld_json_圖片連結\": json_data.get(\"image\", {}).get(\"url\")\n  }\n  # 提取 HTML 內文\n  # 提取標題\n  title = soup.find('h1').text if soup.find('h1') else \"標題未找到\"\n  \n  # 提取新聞來源\n  source = soup.find('span', class_='caas-attr-provider').text if soup.find('span', class_='caas-attr-provider') else \"來源未找到\"\n  \n  # 提取時間\n  time = soup.find('time').text if soup.find('time') else \"時間未找到\"\n  \n  # 提取新聞內文\n  content = []\n  for p in soup.find_all('p'):\n      content.append(p.text)\n  \n  # news_body = \"\\n\".join(content[:content.index(\"延伸閱讀\")])\n  # 輸出結構化資料\n  structured_data = {\n      \"article_標題\": title,\n      \"article_來源\": source,\n      \"article_發佈時間\": time,\n      \"article_內文\": content\n  }\n\n\n  \n\n  \nreturn ld_json | structured_data\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,0],"id":"74061fed-ee8c-4bfd-87ba-970d44cc7868","name":"extract info"},{"parameters":{"url":"https://tw.news.yahoo.com/archive/","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1640,540],"id":"283cc40d-35bf-48c1-95bd-9c34d41937d2","name":"Yahoo 綜合新聞"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"body","cssSelector":".caas-container","returnValue":"html"}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[300,0],"id":"b2897b54-7ae7-4f2e-9c09-e52e9af5a592","name":"解析內容"},{"parameters":{"url":"https://tw.news.yahoo.com/politics/archive","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1640,700],"id":"95821f07-c793-41f8-83e8-75c6ace68e96","name":"Yahoo 政治新聞"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[20,420],"id":"4af2f410-8f6b-4be8-96dd-0e4afaae2f95","name":"整合新聞資料"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-880,420],"id":"b6c727ce-e102-46b1-9562-01d0a6d09907","name":"整合額外標籤","alwaysOutputData":true,"executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"e913c6a9-fd56-400d-853e-94353e58fdbe","name":"run_version","value":"0.0.5","type":"string"},{"id":"0d7e7543-9536-4a42-8005-38a342317ee8","name":"run_tag","value":"politics","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1460,700],"id":"879621c1-6c11-4a1f-a0d2-8b13577f482f","name":"上搜尋標籤[政治]"},{"parameters":{"assignments":{"assignments":[{"id":"e913c6a9-fd56-400d-853e-94353e58fdbe","name":"run_version","value":"0.0.6","type":"string"},{"id":"0d7e7543-9536-4a42-8005-38a342317ee8","name":"run_tag","value":"all","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1460,540],"id":"6eb174fd-35ec-43a9-889b-defbb58bd739","name":"上搜尋標籤[綜合]"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1920,180],"id":"81619aef-503a-40a5-bbb7-7bd164ee7522","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://tw.news.yahoo.com/technology/archive","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1640,880],"id":"0eb6b3d0-91f3-48ca-93fa-44be312e4979","name":"Yahoo 科技新聞"},{"parameters":{"assignments":{"assignments":[{"id":"e913c6a9-fd56-400d-853e-94353e58fdbe","name":"run_version","value":"0.0.5","type":"string"},{"id":"0d7e7543-9536-4a42-8005-38a342317ee8","name":"run_tag","value":"tech","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1460,880],"id":"d43a0f2b-e0ee-4b5f-83e1-742a1929b8b8","name":"上搜尋標籤[科技]"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1900,560],"id":"83e98f9b-3557-4ab7-9f8c-0ccff2634fae","name":"02:00"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1900,720],"id":"9d85804b-203b-4396-abd3-13ca8fbc1aea","name":"02:20"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1900,900],"id":"4decbe60-add0-492d-81f8-609d798a9821","name":"02:40"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[480,440],"id":"3fb9e9b2-f328-4932-baea-25dac2cb18ec","name":"Wait","webhookId":"a7ac3b94-5e84-44d3-9300-de39696df08f"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-620,140],"id":"a1b0eb79-047c-4b9b-aa5d-2599bf2b3839","name":"Loop Over Items","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"operation":"insert","collection":"news_v1","fields":"={{ $json.keys().join(',') }}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[220,400],"id":"24e6509e-ea87-4dc4-8a5a-e2bf876b3924","name":"MongoDB","credentials":{"mongoDb":{"id":"Nubd7Wpa2YLeMdBW","name":"MongoDB news_n8n"}}}],"connections":{"HTML":{"main":[[{"node":"split news","type":"main","index":0}]]},"removed ad":{"main":[[{"node":"整合額外標籤","type":"main","index":0}]]},"split news":{"main":[[{"node":"removed ad","type":"main","index":0}]]},"get article content":{"main":[[{"node":"解析內容","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"extract info":{"main":[[{"node":"整合新聞資料","type":"main","index":1}]]},"Yahoo 綜合新聞":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"上搜尋標籤[綜合]","type":"main","index":0}]]},"解析內容":{"main":[[{"node":"extract info","type":"main","index":0}]]},"Yahoo 政治新聞":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"上搜尋標籤[政治]","type":"main","index":0}]]},"整合新聞資料":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"整合額外標籤":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"上搜尋標籤[政治]":{"main":[[{"node":"整合額外標籤","type":"main","index":1}]]},"上搜尋標籤[綜合]":{"main":[[{"node":"整合額外標籤","type":"main","index":1}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Yahoo 綜合新聞","type":"main","index":0}]]},"Yahoo 科技新聞":{"main":[[{"node":"上搜尋標籤[科技]","type":"main","index":0},{"node":"HTML","type":"main","index":0}]]},"上搜尋標籤[科技]":{"main":[[{"node":"整合額外標籤","type":"main","index":1}]]},"02:00":{"main":[[{"node":"Yahoo 綜合新聞","type":"main","index":0}]]},"02:20":{"main":[[{"node":"Yahoo 政治新聞","type":"main","index":0}]]},"02:40":{"main":[[{"node":"Yahoo 科技新聞","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"get article content","type":"main","index":0},{"node":"整合新聞資料","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Taipei","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:02:00":{"recurrenceRules":[]},"node:02:20":{"recurrenceRules":[]},"node:02:40":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0b2827c0-5157-4ccd-99f3-857eb81f6368","triggerCount":3,"tags":[]}