workflows/get today news.json
{"createdAt":"2025-02-12T04:03:52.743Z","updatedAt":"2025-02-12T06:27:04.295Z","id":"7vCTt641IxzXDktf","name":"get today news","active":true,"nodes":[{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"StretchedBox","cssSelector":".StreamMegaItem","returnValue":"html","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1700,160],"id":"bf82f2b8-aaba-41a3-a836-6a7cb0b36f1d","name":"HTML"},{"parameters":{"language":"python","pythonCode":"\nwithout_ad = _input.all()[1:]\nreturn  without_ad"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1240,160],"id":"9c368ba4-2ef6-4a06-adda-ec85ab0870b1","name":"removed ad"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom bs4 import BeautifulSoup\n\nreturn_dict = {\"news\":[]}\nfor item in _input.all():\n  rows = item['json']['StretchedBox']\n  for html in rows:    \n    # 解析 HTML\n    soup = BeautifulSoup(html, \"html.parser\")\n    \n    # 取得標題\n    title = soup.find(\"h3\").text.strip() if soup.find(\"h3\") else \"無標題\"\n    \n    # 取得文章連結\n    link_tag = soup.find(\"h3\").find(\"a\") if soup.find(\"h3\") else None\n    link = f\"https://tw.news.yahoo.com{link_tag['href']}\" if link_tag else \"無連結\"\n    \n    # 取得圖片 URL\n    image_tag = soup.find(\"img\")\n    image_url = image_tag[\"src\"] if image_tag else \"無圖片\"\n    \n    # 取得描述內容\n    description = soup.find(\"p\").text.strip() if soup.find(\"p\") else \"無描述\"\n    \n    # 取得來源 & 發布時間\n    source_time_tag = soup.find(\"div\", class_=\"C(#959595)\")\n    source_time = source_time_tag.text.strip() if source_time_tag else \"無來源資訊\"\n    \n    # 取得留言連結\n    comment_tag = soup.find(\"a\", class_=\"comment-btn-link\")\n    comment_link = f\"https://tw.news.yahoo.com{comment_tag['href']}\" if comment_tag else \"無留言連結\"\n    \n    # 輸出結果\n    news_data = {\n        \"標題\": title,\n        \"連結\": link,\n        \"圖片 URL\": image_url,\n        \"描述\": description,\n        \"來源與時間\": source_time,\n        \"留言連結\": comment_link\n    }\n\n    return_dict['news'].append(news_data)\n    \nreturn return_dict['news']\n    \n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1480,160],"id":"7d252187-5495-4f3e-8cd8-59c0ec08860e","name":"split news"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-880,40],"id":"d10e89fd-a6a9-49ba-8d47-58c359041334","name":"Loop Over Items","retryOnFail":false,"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $json['連結'] }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,-100],"id":"07afbbf3-42a5-4f14-8dc6-de1765e1e9ee","name":"get article content","retryOnFail":false,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom bs4 import BeautifulSoup\nimport json\n\n\nfor item in _input.all():\n  html = item['json']['body']\n  soup = BeautifulSoup(html, \"html.parser\")\n  # 提取 JSON-LD 內容\n  script_tag = soup.find(\"script\", type=\"application/ld+json\")\n  json_data = json.loads(script_tag.string)\n  \n      \n  # 結構化數據\n  ld_json = {\n      \"ld_json_標題\": json_data.get(\"headline\"),\n      \"ld_json_發佈時間\": json_data.get(\"datePublished\"),\n      \"ld_json_修改時間\": json_data.get(\"dateModified\"),\n      \"ld_json_關鍵詞\": json_data.get(\"keywords\"),\n      \"ld_json_描述\": json_data.get(\"description\"),\n      \"ld_json_發布者\": json_data.get(\"publisher\", {}).get(\"name\"),\n      \"ld_json_作者\": json_data.get(\"author\", {}).get(\"name\"),\n      \"ld_json_新聞連結\": json_data.get(\"mainEntityOfPage\"),\n      \"ld_json_圖片連結\": json_data.get(\"image\", {}).get(\"url\")\n  }\n  # 提取 HTML 內文\n  # 提取標題\n  title = soup.find('h1').text if soup.find('h1') else \"標題未找到\"\n  \n  # 提取新聞來源\n  source = soup.find('span', class_='caas-attr-provider').text if soup.find('span', class_='caas-attr-provider') else \"來源未找到\"\n  \n  # 提取時間\n  time = soup.find('time').text if soup.find('time') else \"時間未找到\"\n  \n  # 提取新聞內文\n  content = []\n  for p in soup.find_all('p'):\n      content.append(p.text)\n  \n  # news_body = \"\\n\".join(content[:content.index(\"延伸閱讀\")])\n  # 輸出結構化資料\n  structured_data = {\n      \"article_標題\": title,\n      \"article_來源\": source,\n      \"article_發佈時間\": time,\n      \"article_內文\": content\n  }\n\n\n  \n\n  \nreturn ld_json | structured_data\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,-100],"id":"78863d94-ba03-4f55-875d-a364d1925cf0","name":"extract info"},{"parameters":{"url":"https://tw.news.yahoo.com/archive/","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1900,440],"id":"4521f300-0a12-4303-bef8-53e87931be9a","name":"Yahoo 綜合新聞"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"body","cssSelector":".caas-container","returnValue":"html"}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[40,-100],"id":"84d37bf4-0edf-4458-8ffb-2b4820fe2347","name":"解析內容"},{"parameters":{"operation":"insert","collection":"news_v1","fields":"={{ $json.keys().join(',') }}","options":{}},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[0,340],"id":"f5736025-f6a1-4c68-b2cb-02e141537c12","name":"MongoDB","credentials":{"mongoDb":{"id":"x3Dlu5DZnCiSbY1K","name":"MongoDB account"}}},{"parameters":{"url":"https://tw.news.yahoo.com/politics/archive","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1900,600],"id":"a508fadb-1f72-45b9-b4fa-539332637732","name":"Yahoo 政治新聞"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-240,320],"id":"18ffd5e1-bfe7-453b-9731-f19ef7e79c95","name":"整合新聞資料"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1140,320],"id":"2119098d-478a-41e1-abe0-d854253e175d","name":"整合額外標籤","alwaysOutputData":true,"executeOnce":false},{"parameters":{"assignments":{"assignments":[{"id":"e913c6a9-fd56-400d-853e-94353e58fdbe","name":"run_version","value":"0.0.5","type":"string"},{"id":"0d7e7543-9536-4a42-8005-38a342317ee8","name":"run_tag","value":"politics","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1720,600],"id":"cbf4ff96-9d7d-4e68-a552-612acc38434d","name":"上搜尋標籤[政治]"},{"parameters":{"assignments":{"assignments":[{"id":"e913c6a9-fd56-400d-853e-94353e58fdbe","name":"run_version","value":"0.0.6","type":"string"},{"id":"0d7e7543-9536-4a42-8005-38a342317ee8","name":"run_tag","value":"all","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1720,440],"id":"da43dfae-a756-493b-bdf0-339113c5c08b","name":"上搜尋標籤[綜合]"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[220,340],"id":"9ddf56df-ce73-41a9-ab1e-4b1ece88c31c","name":"Wait","webhookId":"a7ac3b94-5e84-44d3-9300-de39696df08f"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2180,80],"id":"bd9eafd9-d8dc-4587-a2a6-cb99a4d7d451","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://tw.news.yahoo.com/technology/archive","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1900,780],"id":"a8eb0a31-5b78-4aa9-a06b-d65893cfedd4","name":"Yahoo 科技新聞"},{"parameters":{"assignments":{"assignments":[{"id":"e913c6a9-fd56-400d-853e-94353e58fdbe","name":"run_version","value":"0.0.5","type":"string"},{"id":"0d7e7543-9536-4a42-8005-38a342317ee8","name":"run_tag","value":"tech","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1720,780],"id":"2e48c86e-dc0b-4325-835e-de9e04d92bbc","name":"上搜尋標籤[科技]"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2160,460],"id":"102f86b1-bad4-4e7f-8bdf-27fa1e8c88a4","name":"02:00"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2160,620],"id":"0894dacd-b6b9-45fc-9a62-9b751ac8cbe4","name":"02:20"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2160,800],"id":"9e40d39a-3158-49ee-8ade-b44aedd0945d","name":"02:40"}],"connections":{"HTML":{"main":[[{"node":"split news","type":"main","index":0}]]},"removed ad":{"main":[[{"node":"整合額外標籤","type":"main","index":0}]]},"split news":{"main":[[{"node":"removed ad","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"get article content","type":"main","index":0},{"node":"整合新聞資料","type":"main","index":0}]]},"get article content":{"main":[[{"node":"解析內容","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"extract info":{"main":[[{"node":"整合新聞資料","type":"main","index":1}]]},"Yahoo 綜合新聞":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"上搜尋標籤[綜合]","type":"main","index":0}]]},"解析內容":{"main":[[{"node":"extract info","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Yahoo 政治新聞":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"上搜尋標籤[政治]","type":"main","index":0}]]},"整合新聞資料":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"整合額外標籤":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"上搜尋標籤[政治]":{"main":[[{"node":"整合額外標籤","type":"main","index":1}]]},"上搜尋標籤[綜合]":{"main":[[{"node":"整合額外標籤","type":"main","index":1}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Yahoo 綜合新聞","type":"main","index":0}]]},"Yahoo 科技新聞":{"main":[[{"node":"上搜尋標籤[科技]","type":"main","index":0},{"node":"HTML","type":"main","index":0}]]},"上搜尋標籤[科技]":{"main":[[{"node":"整合額外標籤","type":"main","index":1}]]},"02:00":{"main":[[{"node":"Yahoo 綜合新聞","type":"main","index":0}]]},"02:20":{"main":[[{"node":"Yahoo 政治新聞","type":"main","index":0}]]},"02:40":{"main":[[{"node":"Yahoo 科技新聞","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:02:00":{"recurrenceRules":[]},"node:02:20":{"recurrenceRules":[]},"node:02:40":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"cc2891f9-da9f-4fd3-96bc-253c3a585d6e","triggerCount":3,"tags":[]}