workflows/github repo.json
{"createdAt":"2025-02-21T00:42:16.978Z","updatedAt":"2025-03-31T02:23:02.299Z","id":"zHFF3BTdMGFTqysj","name":"github repo","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,-140],"id":"70dcabde-4ffe-419a-b124-11406c3c7450","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://github.com/trending?since=weekly","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"e947bde5-36cf-47db-b070-ac7350221012","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"rows","cssSelector":".Box-row","returnValue":"html","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[400,0],"id":"ab63a2ee-35fa-4a60-b07d-516a5edcc0a9","name":"HTML"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"rows","extractionValues":{"values":[{"key":"title","cssSelector":".Link"},{"key":"url","cssSelector":".Link","returnValue":"attribute","attribute":"href"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[560,0],"id":"865559e0-b8a1-40b7-8a50-a31a21a2ea9a","name":"HTML1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e00f9e36-cb70-4200-bf75-0e1ca4c77dc7","leftValue":"={{ $json.data[0].alreadies_url }}","rightValue":"={{ $json.url }}","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1060,-40],"id":"ab3e2348-efa8-4d57-bfef-7f9197bbabe3","name":"Filter"},{"parameters":{"operation":"write","fileName":"./init_github_log_file.json","dataPropertyName":"=data","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[400,-300],"id":"139c2db4-0de4-4e79-a4be-13c0d946d5e7","name":"init_log_file"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"alreadies_url\": [\n    \n  ]\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,-300],"id":"5952559d-5cec-49db-b449-005c6965f2ca","name":"Init log file"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[220,-300],"id":"8644793f-2c43-490f-8928-5eaf454e2156","name":"Convert to File"},{"parameters":{"fileSelector":"./init_github_log_file.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[80,-140],"id":"44311c72-06a8-4637-a8de-ce020489e6f8","name":"load_logs_file"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[420,-140],"id":"d129fb86-3726-4925-be4d-6f40084f5fc2","name":"processed urls"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[840,-40],"id":"cef73274-5d38-41fc-b639-1228fa12869d","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1260,-40],"id":"806d3012-7654-47ad-8847-b414c4fff65e","name":"Limit"},{"parameters":{"operation":"write","fileName":"./init_github_log_file.json","dataPropertyName":"=data","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1760,-500],"id":"5581a85a-5e3d-4f9f-b3ba-ef1b169a4e5b","name":"update log file"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nitem = _input.all()[0]\nnew_url = item.json.url\nprocessed_urls = item.json.data[0].alreadies_url\nreturn {\n\"alreadies_url\": list(processed_urls)+[new_url]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-240],"id":"8c2df737-6005-4a92-8d32-9c7ba287cd16","name":"update processed log"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1560,-400],"id":"1b784ce0-8de3-4be4-9a17-5ed954ad6720","name":"Convert to File1"},{"parameters":{"url":"=https://raw.githubusercontent.com/{{ $json.url }}/refs/heads/master/README.md ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,300],"id":"3b2badaa-1559-49e8-a62c-5a4a94f4e622","name":"Get Repo Readme","onError":"continueErrorOutput"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2100,800],"id":"81546582-319e-414a-a046-94936a6da32b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2f62OWiuFp24i3ZQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"url":"=https://raw.githubusercontent.com/{{ $json.url }}/refs/heads/main/README.md ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,400],"id":"b595998d-52e7-43c2-87cb-42a41931b13e","name":"Get Repo Readme1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2940,160],"id":"43584f5f-411c-4198-9053-bfe8297d64fa","name":"Merge1"},{"parameters":{"promptType":"define","text":"=請基於參考資料，用15個字跟台灣讀者說明，像是標題一樣，強調還有多少時間就要到了。\n以下為參考資料：\n{{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2380,500],"id":"55205ac5-e5be-4d1f-b902-b51a6ff0e138","name":"生成標題"},{"parameters":{"keys":{"key":[{"currentKey":"text","newKey":"article_title"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2700,300],"id":"f5fc0fc4-c637-4ce7-8d0a-f51785024acd","name":"Rename Keys"},{"parameters":{"title":"={{ $json.article_title }}","additionalFields":{"authorId":3,"content":"={{ $json[\"text\"] }} \n![image]({{ $json.image_url }})\n\n### 參考閱讀\nhttps://github.com{{ $json.url }}\n","status":"publish","categories":[164,100],"tags":[185]}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[3140,160],"id":"ff99617c-663b-4038-8fdc-99c372917097","name":"Wordpress1","credentials":{"wordpressApi":{"id":"5siZmNyujKpCz34V","name":"Wordpress account"}}},{"parameters":{"promptType":"define","text":"=請基於參考資料，為台灣讀者寫一篇部落格文章來介紹。\n以下為更多的輸出細節與參考資料\n##輸出細節\n- 請使用台灣人容易理解的字詞，總是用繁體中文作為主要的語言\n- 生成網址的時候，請確認是正確的\n- 強調作為初學者可以怎麼使用或是了解其核心概念\n- 生成文章為長內容（1,500~2,500 字），特別是技術型、知識型文章。內容要完整回答 「使用者搜尋意圖」，避免內容過於淺薄。\n- 有獨特觀點，不只是翻譯或抄襲的資訊。例如可以加入「個人實作心得」或「錯誤排除指南」。\n- 文章內容使用 簡單、易懂的語言，避免過度專業術語。\n## 參考資料\n{{ $json.data }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2180,320],"id":"6c59d61a-2fe9-41bd-b31f-37a3d01e02b1","name":"生成內文"},{"parameters":{"promptType":"define","text":"=請基於參考資料，列出所有包含的圖像。\n以下為更多的輸出細節與參考資料\n##輸出細節\n- 輸出網址的時候，請確認是正確的\n- 不要開頭說明，使用json格式包裹連結\n- 確保所有連結都是http開頭，如果不是則添加上根目錄(https://raw.githubusercontent.com{{ $json.url }}/refs/heads/{{ $json.main_path }}/)\n## 參考資料\n{{ $json.data }}","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2080,-100],"id":"5b6db0b1-4fce-4b35-a846-9c853e7dd57c","name":"找尋圖片"},{"parameters":{"jsonSchemaExample":"[\n\"https://raw.githubusercontent.com/<repo-path>/refs/heads/<branch>/imgs/logo.png/imgs/logo.png\"\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2280,80],"id":"ef44bebe-ee2f-40f4-9a7d-69a93b5f1548","name":"Structured Output Parser"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1920,180],"id":"043a6de6-827f-4d0b-b37f-9fd1ceb7e7ec","name":"Merge2"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"main_path\": \"master\",\n  \"url\": \"{{ $json.url }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1680,-20],"id":"1a22b139-7cb7-402d-92cf-dcbdf26d5aca","name":"master branch"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"main_path\": \"main\",\n  \"url\": \"{{ $json.url }}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,140],"id":"993ae8a5-ca38-4405-bed0-d53182999262","name":"main branch"},{"parameters":{"rule":{"interval":[{"triggerAtHour":2,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,100],"id":"146b494a-5306-42fc-b55e-e96810ddf670","name":"0220am"},{"parameters":{"url":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2840,-100],"id":"fa6f97bf-4d59-4722-8d5b-e9176400a2c9","name":"HTTP Request1","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2660,-140],"id":"5f35c968-c0b0-4244-a1f8-3ef67b622210","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2480,-120],"id":"c6a08d10-316c-41c3-a326-c452eaffe6dd","name":"Split Out"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"image_url\": \"{{ $json.output }}\"\n}\n ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3060,-180],"id":"e8077607-9c39-4780-a79b-778c13f02985","name":"Edit Fields"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"load_logs_file","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"init_log_file":{"main":[[]]},"Init log file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"init_log_file","type":"main","index":0}]]},"load_logs_file":{"main":[[{"node":"processed urls","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"processed urls":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Get Repo Readme","type":"main","index":0},{"node":"master branch","type":"main","index":0},{"node":"main branch","type":"main","index":0},{"node":"update processed log","type":"main","index":0}]]},"update processed log":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"update log file","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"生成內文","type":"ai_languageModel","index":0},{"node":"生成標題","type":"ai_languageModel","index":0},{"node":"找尋圖片","type":"ai_languageModel","index":0}]]},"Get Repo Readme":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"master branch","type":"main","index":0}],[{"node":"Get Repo Readme1","type":"main","index":0}]]},"Get Repo Readme1":{"main":[[{"node":"Merge2","type":"main","index":1},{"node":"main branch","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Wordpress1","type":"main","index":0}]]},"生成標題":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"生成內文":{"main":[[{"node":"生成標題","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"找尋圖片","type":"ai_outputParser","index":0}]]},"Merge2":{"main":[[{"node":"找尋圖片","type":"main","index":0},{"node":"生成內文","type":"main","index":0},{"node":"Merge1","type":"main","index":3}]]},"master branch":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"main branch":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"找尋圖片":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"0220am":{"main":[[{"node":"load_logs_file","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge1","type":"main","index":2}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Taipei","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:1020am":{"recurrenceRules":[]},"node:0220am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7a809adb-8e85-4980-b91f-c5391394cb12","triggerCount":1,"tags":[]}