workflows/movie.json
{"createdAt":"2025-02-25T05:46:03.604Z","updatedAt":"2025-03-18T01:57:16.015Z","id":"5UliKPa3SHaZ6rMq","name":"movie","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,-140],"id":"e5f56b0e-000a-4327-aed5-9bc71e23e881","name":"When clicking ‘Test workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e00f9e36-cb70-4200-bf75-0e1ca4c77dc7","leftValue":"={{ $json.data[0].alreadies_url }}","rightValue":"={{ $json.url }}","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1060,-40],"id":"a2235260-3d31-4ca9-960c-da70652cd374","name":"Filter"},{"parameters":{"operation":"write","fileName":"./init_imdb_log_file.json","dataPropertyName":"=data","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[380,-520],"id":"82867134-5fc8-4cb1-8033-3f56c0ccd2d5","name":"init_log_file"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"alreadies_url\": [\n    \n  ]\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,-520],"id":"e5a14e72-3713-43d7-9bdd-e24dfc10cad8","name":"Init log file"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[200,-520],"id":"4a9397bd-cc70-4c1d-94b6-ccf59dbcaa26","name":"Convert to File"},{"parameters":{"fileSelector":"./init_imdb_log_file.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[80,-140],"id":"bb025b50-395d-4b0b-892b-27f128a24d15","name":"load_logs_file"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[420,-140],"id":"04693a3d-962d-46c9-ac62-2801cf6005de","name":"processed urls"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[840,-40],"id":"e2d933f0-870d-4332-a189-3afc5514b6d8","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1260,-40],"id":"17502b31-79a0-4f35-930b-3d374fbe9f1f","name":"Limit"},{"parameters":{"operation":"write","fileName":"./init_imdb_log_file.json","dataPropertyName":"=data","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1760,-500],"id":"1cb4839c-10e1-4fa7-9a9e-350be406723d","name":"update log file"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nitem = _input.all()[0]\nnew_url = item.json.url\nprocessed_urls = item.json.data[0].alreadies_url\nreturn {\n\"alreadies_url\": list(processed_urls)+[new_url]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-240],"id":"97a986c1-9184-4314-817b-7c8691e1b1dd","name":"update processed log"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1560,-400],"id":"ca61509c-33af-4a51-9965-7789a9232e97","name":"Convert to File1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2400,920],"id":"17b3436d-ef8d-4d94-ae92-fa9c7e568cb9","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2f62OWiuFp24i3ZQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2940,160],"id":"46cf009e-5a9e-415b-8649-de6d9698518b","name":"Merge1"},{"parameters":{"promptType":"define","text":"=請基於參考資料和包含的英文電影標題，寫出一個15個字的標題，以下為輸出細節。\n- 使用台灣讀者容易理解的方式書寫。\n- 不使用粗體或是`*`\n以下為參考資料：\n{{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2380,500],"id":"dd2d8e70-a066-4dcd-9a57-51286d51f271","name":"生成標題"},{"parameters":{"keys":{"key":[{"currentKey":"text","newKey":"article_title"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2700,300],"id":"4b99b2e7-42e8-4817-8562-8a183dc2a0da","name":"Rename Keys"},{"parameters":{"title":"={{ $json.article_title }}","additionalFields":{"authorId":3,"content":"=\n![image]({{ $json.images }})\n\n{{ $json[\"text\"] }} \n","status":"publish","categories":[164,165,186],"tags":[187]}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[3140,160],"id":"981ccb49-494e-46a6-8bf7-56686c8cb509","name":"Wordpress1","credentials":{"wordpressApi":{"id":"5siZmNyujKpCz34V","name":"Wordpress account"}}},{"parameters":{"promptType":"define","text":"=請基於參考資料，為台灣讀者寫一篇部落格文章來介紹該電影。\n以下為更多的輸出細節與參考資料\n##輸出細節\n- 輸出將被直接作為報導，因此請直接輸出內文，不要有任何的對話開頭、需要後期製作的指引內容或是其他解釋性備註\n- 請使用台灣人容易理解的字詞，總是用繁體中文作為主要的語言，開頭一定要保留英文影片的原始名稱\n- 如果生成網址的時候，請確認是正確的\n- 強調作為初學者可以怎麼使用或是了解其核心概念\n- 生成文章為長內容（1,500~2,500 字），特別是技術型、知識型文章。內容要完整回答 「使用者搜尋意圖」，避免內容過於淺薄。\n- 有獨特觀點，不只是翻譯或抄襲的資訊。例如可以加入「個人心得」或「觀影指南」。\n- 文章內容使用 簡單、易懂的語言，避免過度專業術語。\n\n\n\n## 參考資料1（電影資訊）\n{{ $json.info }}\n## 參考資料2（電影評價）\n{{ $json['review-row'] }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2020,180],"id":"f4553ae5-7124-43a0-8fcd-6453a42db0c5","name":"生成內文"},{"parameters":{"url":"https://www.rottentomatoes.com/browse/movies_in_theaters/audience:upright~sort:newest","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"c2304165-1f9c-490a-8b41-610cde78d9df","name":"取得爛番茄本週熱門影片"},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","extractionValues":{"values":[{"key":"rows","cssSelector":".js-tile-link","returnValue":"html","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[400,0],"id":"c67244e0-202f-413d-9f0a-66005ded249c","name":"擷取出影片欄位"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"rows","extractionValues":{"values":[{"key":"url","cssSelector":"a","returnValue":"attribute","attribute":"href"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[460,260],"id":"7d7d76d7-a3cb-4f99-b1d5-7385dc04add7","name":"擷取影片連結"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e00f9e36-cb70-4200-bf75-0e1ca4c77dc7","leftValue":"={{ $json.url }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[680,140],"id":"1234f539-090c-485c-8197-5790cc06233f","name":"刪除空白項目"},{"parameters":{"url":"=https://www.rottentomatoes.com{{ $json.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,0],"id":"b1fb30e9-aa02-4467-919f-5cb2092761a4","name":"獲取影片主頁","alwaysOutputData":false},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","extractionValues":{"values":[{"key":"images","cssSelector":"rt-img","returnValue":"attribute","attribute":"srcmobile","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1780,-120],"id":"ee728c6f-24b2-4144-8be9-b2637c0bba88","name":"擷取出圖片欄位"},{"parameters":{"fieldToSplitOut":"images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2000,-120],"id":"33b9d1b3-0c10-4e37-97a9-b6ba9921785d","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c045d6eb-f06b-481b-ab98-d78e57abc8be","leftValue":"={{ $json.images }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2220,-120],"id":"4c64e3cc-e592-4e51-9abd-235bc5390819","name":"Filter1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2400,-120],"id":"77b21fb8-2a52-4b56-8c16-6deb328c6877","name":"Limit1"},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","extractionValues":{"values":[{"key":"info","cssSelector":".media-info","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1680,200],"id":"ad46510a-5279-4231-8eb5-eeec2e17b0df","name":"擷取出電影說明"},{"parameters":{"url":"=https://www.rottentomatoes.com{{ $json.url }}/reviews?type=top_critics","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,360],"id":"022dfb97-622f-4645-965f-696fa0d39ad6","name":"獲取影片評價","alwaysOutputData":false},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","extractionValues":{"values":[{"key":"review-row","cssSelector":".review-text","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1540,380],"id":"c0cfe375-56c9-42e9-878e-6a78653b906c","name":"擷取出電影評價"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1840,360],"id":"83f04e55-b3ec-4ff1-ac51-28d1fd040ee7","name":"Merge2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-200,100],"id":"db9c10b0-d7c6-439f-b53a-1da75bdf86c2","name":"0120am"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"load_logs_file","type":"main","index":0}]]},"init_log_file":{"main":[[]]},"Init log file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"init_log_file","type":"main","index":0}]]},"load_logs_file":{"main":[[{"node":"processed urls","type":"main","index":0},{"node":"取得爛番茄本週熱門影片","type":"main","index":0}]]},"processed urls":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"獲取影片主頁","type":"main","index":0},{"node":"update processed log","type":"main","index":0},{"node":"獲取影片評價","type":"main","index":0}]]},"update processed log":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"update log file","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"生成標題","type":"ai_languageModel","index":0},{"node":"生成內文","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Wordpress1","type":"main","index":0}]]},"生成標題":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"生成內文":{"main":[[{"node":"生成標題","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"取得爛番茄本週熱門影片":{"main":[[{"node":"擷取出影片欄位","type":"main","index":0}]]},"擷取出影片欄位":{"main":[[{"node":"擷取影片連結","type":"main","index":0}]]},"擷取影片連結":{"main":[[{"node":"刪除空白項目","type":"main","index":0}]]},"刪除空白項目":{"main":[[{"node":"Merge","type":"main","index":1}]]},"獲取影片主頁":{"main":[[{"node":"擷取出圖片欄位","type":"main","index":0},{"node":"擷取出電影說明","type":"main","index":0}],[]]},"擷取出圖片欄位":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"獲取影片評價":{"main":[[{"node":"擷取出電影評價","type":"main","index":0}]]},"擷取出電影說明":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"擷取出電影評價":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"生成內文","type":"main","index":0}]]},"0120am":{"main":[[{"node":"load_logs_file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Taipei","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:1020am":{"recurrenceRules":[]},"node:1120am":{"recurrenceRules":[]},"node:0120am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0c4891b8-c0f5-4874-ae49-ac8ffe673c72","triggerCount":1,"tags":[]}