workflows/Movie.json
{"createdAt":"2025-05-16T16:52:06.848Z","updatedAt":"2025-05-20T01:54:25.179Z","id":"hDp6FciUwzJD6HPa","name":"Movie","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-220,380],"id":"e3f28020-7351-4797-ad71-83b4d39d99ad","name":"When clicking ‘Test workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e00f9e36-cb70-4200-bf75-0e1ca4c77dc7","leftValue":"={{ $json.data[0].alreadies_url }}","rightValue":"={{ $json.url }}","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1040,480],"id":"a7b9009f-5569-4ee0-b348-5b622a4ac282","name":"Filter"},{"parameters":{"operation":"write","fileName":"./init_imdb_log_file.json","dataPropertyName":"=data","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[360,0],"id":"f30e7f31-1540-45a7-9360-1811e54c2b61","name":"init_log_file"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"alreadies_url\": [\n    \n  ]\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"6f29cbb7-1107-4920-a8ff-672b8bd66f44","name":"Init log file"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[180,0],"id":"ad0afc7e-ed18-477d-bf93-0796e21523c9","name":"Convert to File"},{"parameters":{"fileSelector":"./init_imdb_log_file.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[60,380],"id":"830ce1b7-d075-4c7d-83ec-1225e05cd4b1","name":"load_logs_file"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[400,380],"id":"ca8195c0-d903-4a2a-be2c-0827f6bcbaea","name":"processed urls"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[820,480],"id":"d6b400da-29db-498c-a347-506df1c11cf5","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1240,480],"id":"80a8b17a-867c-4889-89f0-1891c7fefe6c","name":"Limit"},{"parameters":{"operation":"write","fileName":"./init_imdb_log_file.json","dataPropertyName":"=data","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1740,20],"id":"bf614ba4-ead7-4878-ba76-20537e9cd54f","name":"update log file"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nitem = _input.all()[0]\nnew_url = item.json.url\nprocessed_urls = item.json.data[0].alreadies_url\nreturn {\n\"alreadies_url\": list(processed_urls)+[new_url]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,280],"id":"b1b69ad8-6aa2-4e04-8f72-90d982ac44b6","name":"update processed log"},{"parameters":{"operation":"toJson","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1540,120],"id":"eb669ca5-458b-4ea3-9f34-484030522bf8","name":"Convert to File1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2380,1440],"id":"49d6fe9c-1b8b-4c05-b8c4-8d477bb44986","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"P4wrYR7RISDNtWHz","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2920,680],"id":"362f9999-a709-4af0-bb09-2a0620e8409e","name":"Merge1"},{"parameters":{"promptType":"define","text":"=請基於參考資料和包含的英文電影標題，寫出一個15個字的標題，以下為輸出細節。\n- 使用台灣讀者容易理解的方式書寫。\n- 不使用粗體或是`*`\n以下為參考資料：\n{{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2360,1020],"id":"79ddd1db-54eb-4edf-a62e-9d65f8daff4b","name":"生成標題"},{"parameters":{"keys":{"key":[{"currentKey":"text","newKey":"article_title"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2680,820],"id":"ae00c833-ad9a-405e-9a7a-e041e63cd9e1","name":"Rename Keys"},{"parameters":{"title":"={{ $json.article_title }}","additionalFields":{"authorId":3,"content":"=\n![image]({{ $json.image_top }})\n\n{{ $json[\"text\"] }} \n","status":"publish","categories":[164,165,186],"tags":[187]}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[3120,680],"id":"72b57748-98ac-4d01-b39b-7d4b37c2c6f8","name":"Wordpress1","credentials":{"wordpressApi":{"id":"9SPk82ZHo2wFer1F","name":"Wordpress lazyinwork n8n"}}},{"parameters":{"promptType":"define","text":"=請基於參考資料，為台灣讀者寫一篇部落格文章來介紹該電影。\n以下為更多的輸出細節與參考資料\n##輸出細節\n- 輸出將被直接作為報導，因此請直接輸出內文，不要有任何的對話開頭、需要後期製作的指引內容或是其他解釋性備註\n- 請使用台灣人容易理解的字詞，總是用繁體中文作為主要的語言，開頭一定要保留英文影片的原始名稱\n- 如果生成網址的時候，請確認是正確的\n- 強調作為初學者可以怎麼使用或是了解其核心概念\n- 生成文章為長內容（1,500~2,500 字），特別是技術型、知識型文章。內容要完整回答 「使用者搜尋意圖」，避免內容過於淺薄。\n- 有獨特觀點，不只是翻譯或抄襲的資訊。例如可以加入「個人心得」或「觀影指南」。\n- 文章內容使用 簡單、易懂的語言，避免過度專業術語。\n\n\n\n## 參考資料1（電影資訊）\n{{ $json.info }}\n## 參考資料2（電影評價）\n{{ $json['review-row'] }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2000,700],"id":"e9452ed5-bb70-4109-afb2-855a5b2102c9","name":"生成內文"},{"parameters":{"url":"https://www.rottentomatoes.com/browse/movies_in_theaters/audience:upright~sort:newest","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,520],"id":"81e92d41-9143-4757-a37c-c4b64d1e302c","name":"取得爛番茄本週熱門影片"},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","extractionValues":{"values":[{"key":"rows","cssSelector":".js-tile-link","returnValue":"html","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[380,520],"id":"fd12947c-01b7-4f31-9936-e4186c07fb54","name":"擷取出影片欄位"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"rows","extractionValues":{"values":[{"key":"url","cssSelector":"a","returnValue":"attribute","attribute":"href"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,780],"id":"9142852b-5c23-468c-af35-80518133e337","name":"擷取影片連結"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e00f9e36-cb70-4200-bf75-0e1ca4c77dc7","leftValue":"={{ $json.url }}","rightValue":"=","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[660,660],"id":"642c65c9-01fe-40ed-9f3e-8364ef0f111f","name":"刪除空白項目"},{"parameters":{"url":"=https://www.rottentomatoes.com{{ $json.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1540,520],"id":"ca692978-0a1b-425c-9bad-758e91f42f4d","name":"獲取影片主頁","alwaysOutputData":false},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","extractionValues":{"values":[{"key":"images","cssSelector":"#hero-wrap > div > media-hero > rt-img","returnValue":"attribute","attribute":"src","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1760,400],"id":"bbc7e94a-3539-4e99-b9d2-ecb46d1883dc","name":"擷取出圖片欄位"},{"parameters":{"fieldToSplitOut":"images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1980,400],"id":"3e32aae9-7e69-487d-8313-6a1c6fb3cbe9","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c045d6eb-f06b-481b-ab98-d78e57abc8be","leftValue":"={{ $json.images }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2200,400],"id":"44582a22-4b2f-48b1-8c64-8ce9a2cca135","name":"Filter1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2380,400],"id":"1322f9e8-3c9e-4c03-9aad-e15ab579d3a9","name":"Limit1"},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","extractionValues":{"values":[{"key":"info","cssSelector":".media-info","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1660,720],"id":"33e865e7-f30a-46dc-9b13-cd2272e38738","name":"擷取出電影說明"},{"parameters":{"url":"=https://www.rottentomatoes.com{{ $json.url }}/reviews?type=top_critics","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,880],"id":"5d582549-9449-42d9-9a34-81a87c9aef1a","name":"獲取影片評價","alwaysOutputData":false},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","extractionValues":{"values":[{"key":"review-row","cssSelector":".review-text","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1520,900],"id":"9f96687f-cfb5-4b89-b42d-8d95fc18bf52","name":"擷取出電影評價"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1820,880],"id":"c753cdbd-9e14-4bcc-afbb-3d12d7fbf195","name":"Merge2"},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-220,620],"id":"29c4ac8f-d984-4e41-8836-2760bfa8592b","name":"0120am"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.images = item.json.images.split(\",\")\n  item.json.image_top = item.json.images[0] \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2600,400],"id":"3bdab6fc-9d16-499c-9d0e-67233f28e296","name":"split urls"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"load_logs_file","type":"main","index":0}]]},"Init log file":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"init_log_file","type":"main","index":0}]]},"load_logs_file":{"main":[[{"node":"processed urls","type":"main","index":0},{"node":"取得爛番茄本週熱門影片","type":"main","index":0}]]},"processed urls":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"獲取影片主頁","type":"main","index":0},{"node":"update processed log","type":"main","index":0},{"node":"獲取影片評價","type":"main","index":0}]]},"update processed log":{"main":[[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"update log file","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"生成標題","type":"ai_languageModel","index":0},{"node":"生成內文","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Wordpress1","type":"main","index":0}]]},"生成標題":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"生成內文":{"main":[[{"node":"生成標題","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"取得爛番茄本週熱門影片":{"main":[[{"node":"擷取出影片欄位","type":"main","index":0}]]},"擷取出影片欄位":{"main":[[{"node":"擷取影片連結","type":"main","index":0}]]},"擷取影片連結":{"main":[[{"node":"刪除空白項目","type":"main","index":0}]]},"刪除空白項目":{"main":[[{"node":"Merge","type":"main","index":1}]]},"獲取影片主頁":{"main":[[{"node":"擷取出圖片欄位","type":"main","index":0},{"node":"擷取出電影說明","type":"main","index":0}]]},"擷取出圖片欄位":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"split urls","type":"main","index":0}]]},"獲取影片評價":{"main":[[{"node":"擷取出電影評價","type":"main","index":0}]]},"擷取出電影說明":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"擷取出電影評價":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"生成內文","type":"main","index":0}]]},"0120am":{"main":[[{"node":"load_logs_file","type":"main","index":0}]]},"split urls":{"main":[[{"node":"Merge1","type":"main","index":2}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:0120am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"302bb59d-9b56-44af-88fd-9244d8b4a980","triggerCount":1,"tags":[]}