workflows/New Article By One Word.json
{"createdAt":"2025-05-06T13:06:31.225Z","updatedAt":"2025-05-06T13:10:18.020Z","id":"u47ZMVb1mwkuCvPD","name":"New Article By One Word","active":true,"nodes":[{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1740,940],"id":"b3fd494d-3777-4450-9105-58db95f7ec0c","name":"Merge"},{"parameters":{"formTitle":"想了解什麼嗎","formDescription":"輸入一個關鍵字，我們幫你寫篇文章。\n送出之後會導向讀者指定邊寫文章區，約一兩分鐘後重整即可看到指定編寫的文章。","formFields":{"values":[{"fieldLabel":"One-word","placeholder":"你想知道的字"}]},"options":{"respondWithOptions":{"values":{"respondWith":"redirect","redirectUrl":"https://lazyinwork.com/tag/%e6%99%82%e4%bb%a3%e9%97%9c%e9%8d%b5%e5%ad%97/"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,600],"id":"94b81155-e0ae-4e72-9993-7727a67f594a","name":"On form submission","webhookId":"eb5772fb-dbb8-4071-9ac1-696b1fe2c328"},{"parameters":{"model":"gemma3:12b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[2480,1320],"id":"81b8b8e1-4d0f-40d4-b5f5-e005d952ba0f","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"W3vzRfEdaAt3dzuB","name":"Ollama account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3220,480],"id":"c447aedb-7c5a-4ed0-8e0c-77210622f208","name":"Merge1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"page-content"},{"fieldToAggregate":"snippet","renameField":true,"outputFieldName":"summary"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2080,880],"id":"073588af-831d-4b4e-bffe-114798e0bc2d","name":"Aggregate"},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2220,720],"id":"f7546629-aff0-4a35-9c67-0d44615595d5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"P4wrYR7RISDNtWHz","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"title":"={{ $json.title }}","additionalFields":{"authorId":3,"content":"=![image]({{ $json.img[0] }})\n{{ $json.output }}\n### 參考閱讀\n- {{ $json.organic_results[0].link }}\n- {{ $json.organic_results[1].link }}\n- {{ $json.organic_results[2].link }}\n- {{ $json.organic_results[3].link }}","status":"publish","categories":[164,100,166,189],"tags":[188]}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[3460,580],"id":"77a6712f-7f48-4fba-8746-47b22dd3c6f1","name":"Wordpress1","alwaysOutputData":true,"executeOnce":true,"retryOnFail":false,"credentials":{"wordpressApi":{"id":"9SPk82ZHo2wFer1F","name":"Wordpress lazyinwork n8n"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.title = item.json.output.replace(\"*\",\"\").replace(\"#\",\"\")\n  del item.json.output\n  \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2980,680],"id":"4d0375c4-dbb3-4ee3-8b6a-5f74dd0bedfc","name":"rename"},{"parameters":{"url":"=https://tw.images.search.yahoo.com/search/images?p={{ $json['One-word'] }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,80],"id":"3a41a43f-027c-4ebe-a18c-8e2983e61dc7","name":"Yahoo Image Search","onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"img","cssSelector":"img","returnValue":"attribute","attribute":"data-src","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[900,80],"id":"ba404c43-8931-4799-a18b-9b57a0c6862d","name":"img urls","onError":"continueRegularOutput"},{"parameters":{"url":"=https://www.bing.com/search?q={{ $json['One-word'] }}&qs=n&sp=-1&lq=0&pq={{ $json['One-word'] }}&sc=12-18&count=5&first=2","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"c1c76ec4-f795-4eae-bc84-6f4cc216e88e","name":"Bing Search"},{"parameters":{"url":"https://serpapi.com/search","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"api_key\": \"c0d90ff3a05abdc4346418396d295908dd6b427ee40f60445bdeca9c78a80a5c\",\n  \"engine\": \"google\",\n  \"q\": \" {{ $json['One-word'] }}\",\n  \"google_domain\": \"google.com\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,600],"id":"65a79e31-1fe4-4cdc-a157-cec83800ba58","name":"Web serach"},{"parameters":{"fieldToSplitOut":"organic_results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[620,1040],"id":"377e07b0-8e73-4e62-bcf9-d15b690dcf07","name":"Split Out1"},{"parameters":{"url":"= {{  $json.link }}","options":{"response":{"response":{"neverError":true,"responseFormat":"file","outputPropertyName":"page-file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,900],"id":"bf0da6c0-f326-4447-b9fd-91d6ea072c82","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","dataPropertyName":"page-file","extractionValues":{"values":[{"key":"page-content","cssSelector":"p","returnArray":true},{"key":"img","cssSelector":"img","returnValue":"attribute","attribute":"src","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1320,740],"id":"3cee541e-e547-4f36-b310-3868c99b14e3","name":"Get Content and Image","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=請基於參考內容，撰寫一篇約1000字的部落格內容。\n\n## 進階細節\n- 文字以台灣繁體中文為主\n- 不要有多餘的開頭和回顧\n- 內文風格為部落格文章，字數約500字，輸出內文將被直接作為報導，因此請直接輸出內文，不要有任何的對話開頭、需要後期製作的指引內容或是其他解釋性備註\n- 不要有多餘的開頭與總結，遵守輸出格式\n- 不要輸出網址\n- 遵守媒體紀律，不要煽動且要確定來源可信\n- 請使用台灣人容易理解的字詞，總是用繁體中文作為主要的語言。\n- 有獨特觀點，不只是翻譯或抄襲的資訊。例如可以加入「事件開頭短結論」、「個人心得」和「事件重點」。\n- 文章內容使用 簡單、易懂的語言，避免過度專業術語。\n\n## 參考內容\n{{ $json.summary }}\n## 參考內容細節\n{{ $json['page-content'] }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2320,920],"id":"52a8d631-a8ba-40fb-ad69-acc36fcd3d7c","name":"blog content Gen"},{"parameters":{"promptType":"define","text":"=請基於以下內容，寫出一個標題。\n\n## 進階細節\n- 標題長度為15字\n- 以台灣繁體中文為主\n- 不過度使用標點符號\n- 強調重要的專有名詞\n- 直接輸出標題，不需使用括弧包裹或是帶有開頭提示語\n\n## 內容 \n{{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2620,680],"id":"73a00fc3-d96b-45f4-843d-a1cedaa8c315","name":"blog title gen"}],"connections":{"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Web serach","type":"main","index":0},{"node":"Yahoo Image Search","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"blog title gen","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"blog content Gen","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"blog content Gen","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Wordpress1","type":"main","index":0}]]},"rename":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Yahoo Image Search":{"main":[[{"node":"img urls","type":"main","index":0}]]},"img urls":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Web serach":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Merge1","type":"main","index":3}]]},"Split Out1":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"HTTP Request":{"main":[[{"node":"Get Content and Image","type":"main","index":0}]]},"Get Content and Image":{"main":[[{"node":"Merge","type":"main","index":0}]]},"blog content Gen":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"blog title gen","type":"main","index":0}]]},"blog title gen":{"main":[[{"node":"rename","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d3e7012-24d7-4717-b6a9-04c3dd494382","triggerCount":1,"tags":[]}