workflows/New Article By One Word.json
{"createdAt":"2025-04-10T08:27:46.925Z","updatedAt":"2025-04-29T06:46:07.738Z","id":"NKGk15UnWekOghfQ","name":"New Article By One Word","active":true,"nodes":[{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1720,520],"id":"7e42660a-31b0-4a99-94bf-018aed95342e","name":"Merge"},{"parameters":{"formTitle":"想了解什麼嗎","formDescription":"輸入一個關鍵字，我們幫你寫篇文章。\n送出之後會導向讀者指定邊寫文章區，約一兩分鐘後重整即可看到指定編寫的文章。","formFields":{"values":[{"fieldLabel":"One-word","placeholder":"你想知道的字"}]},"options":{"respondWithOptions":{"values":{"respondWith":"redirect","redirectUrl":"https://lazyinwork.com/tag/%e6%99%82%e4%bb%a3%e9%97%9c%e9%8d%b5%e5%ad%97/"}}}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-20,180],"id":"24dda654-b350-4d65-8e62-e6e34c43be42","name":"On form submission","webhookId":"eb5772fb-dbb8-4071-9ac1-696b1fe2c328"},{"parameters":{"model":"llama3.1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[2460,900],"id":"35c68b14-2cd6-40d8-b00a-e21bc1daea27","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"PvCXnqk8auxoKiDY","name":"Ollama account 2"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3200,60],"id":"eb735c8d-ffd7-4385-8cff-6286c9541879","name":"Merge1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"page-content"},{"fieldToAggregate":"snippet","renameField":true,"outputFieldName":"summary"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2060,460],"id":"4e2a8579-c0d1-4303-8398-40395e3324a3","name":"Aggregate"},{"parameters":{"modelName":"models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2200,300],"id":"64e6ccd4-a63c-4422-abec-c8c6fe75f257","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2f62OWiuFp24i3ZQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"title":"={{ $json.title }}","additionalFields":{"authorId":3,"content":"=![image]({{ $json.img[0] }})\n{{ $json.output }}\n### 參考閱讀\n- {{ $json.organic_results[0].link }}\n- {{ $json.organic_results[1].link }}\n- {{ $json.organic_results[2].link }}\n- {{ $json.organic_results[3].link }}","status":"publish","categories":[164,100,166,189],"tags":[188]}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[3440,160],"id":"3d61c74d-4a98-4c9e-8de8-62270466415f","name":"Wordpress1","alwaysOutputData":true,"executeOnce":true,"retryOnFail":false,"credentials":{"wordpressApi":{"id":"5siZmNyujKpCz34V","name":"Wordpress account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.title = item.json.output.replace(\"*\",\"\").replace(\"#\",\"\")\n  del item.json.output\n  \nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,260],"id":"59201b4c-4703-480b-aff6-765922470225","name":"rename"},{"parameters":{"url":"=https://tw.images.search.yahoo.com/search/images?p={{ $json['One-word'] }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-340],"id":"d1fdb780-0106-45cc-8e4d-aff012fb30a2","name":"Yahoo Image Search","onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"img","cssSelector":"img","returnValue":"attribute","attribute":"data-src","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[880,-340],"id":"0ce129a9-f8ca-4532-803a-16d853d23273","name":"img urls","onError":"continueRegularOutput"},{"parameters":{"url":"=https://www.bing.com/search?q={{ $json['One-word'] }}&qs=n&sp=-1&lq=0&pq={{ $json['One-word'] }}&sc=12-18&count=5&first=2","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,-420],"id":"220ba049-9a71-4653-ae46-ace5cd6f64ff","name":"Bing Search"},{"parameters":{"url":"https://serpapi.com/search","sendQuery":true,"specifyQuery":"json","jsonQuery":"={\n  \"api_key\": \"c0d90ff3a05abdc4346418396d295908dd6b427ee40f60445bdeca9c78a80a5c\",\n  \"engine\": \"google\",\n  \"q\": \" {{ $json['One-word'] }}\",\n  \"google_domain\": \"google.com\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,180],"id":"752744ca-f669-4aa0-9de4-09770a67f7cf","name":"Web serach"},{"parameters":{"fieldToSplitOut":"organic_results","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[600,620],"id":"2ac8c387-1f14-4269-ad7e-2fb426edeb01","name":"Split Out1"},{"parameters":{"url":"= {{  $json.link }}","options":{"response":{"response":{"neverError":true,"responseFormat":"file","outputPropertyName":"page-file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,480],"id":"56c027b4-2012-4b1e-a879-616daa2d4019","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","dataPropertyName":"page-file","extractionValues":{"values":[{"key":"page-content","cssSelector":"p","returnArray":true},{"key":"img","cssSelector":"img","returnValue":"attribute","attribute":"src","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1300,320],"id":"ec9e159d-74a3-4f3d-ba75-d8c16cdf28cc","name":"Get Content and Image","onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=請基於參考內容，撰寫一篇約1000字的部落格內容。\n\n## 進階細節\n- 文字以台灣繁體中文為主\n- 不要有多餘的開頭和回顧\n- 內文風格為部落格文章，字數約500字，輸出內文將被直接作為報導，因此請直接輸出內文，不要有任何的對話開頭、需要後期製作的指引內容或是其他解釋性備註\n- 不要有多餘的開頭與總結，遵守輸出格式\n- 不要輸出網址\n- 遵守媒體紀律，不要煽動且要確定來源可信\n- 請使用台灣人容易理解的字詞，總是用繁體中文作為主要的語言。\n- 有獨特觀點，不只是翻譯或抄襲的資訊。例如可以加入「事件開頭短結論」、「個人心得」和「事件重點」。\n- 文章內容使用 簡單、易懂的語言，避免過度專業術語。\n\n## 參考內容\n{{ $json.summary }}\n## 參考內容細節\n{{ $json['page-content'] }}\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2300,500],"id":"8bceebb4-a62e-4b75-acc4-fc25cf44278c","name":"blog content Gen"},{"parameters":{"promptType":"define","text":"=請基於以下內容，寫出一個標題。\n\n## 進階細節\n- 標題長度為15字\n- 以台灣繁體中文為主\n- 不過度使用標點符號\n- 強調重要的專有名詞\n- 直接輸出標題，不需使用括弧包裹或是帶有開頭提示語\n\n## 內容 \n{{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2600,260],"id":"b79f1ead-c508-4fcd-bc11-81539645b2c3","name":"blog title gen"}],"connections":{"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Web serach","type":"main","index":0},{"node":"Yahoo Image Search","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"blog title gen","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"blog content Gen","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"blog content Gen","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Wordpress1","type":"main","index":0}]]},"rename":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Yahoo Image Search":{"main":[[{"node":"img urls","type":"main","index":0}]]},"img urls":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Bing Search":{"main":[[]]},"Web serach":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Merge1","type":"main","index":3}]]},"Split Out1":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"HTTP Request":{"main":[[{"node":"Get Content and Image","type":"main","index":0}]]},"Get Content and Image":{"main":[[{"node":"Merge","type":"main","index":0}]]},"blog content Gen":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"blog title gen","type":"main","index":0}]]},"blog title gen":{"main":[[{"node":"rename","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"21c19306-0642-4f00-b5c0-3f4aad25c362","triggerCount":2,"tags":[{"createdAt":"2025-03-25T02:59:04.583Z","updatedAt":"2025-03-25T02:59:04.583Z","id":"VhMrwwCku8T3RLIt","name":"lazyinwork"}]}