workflows/PDF 自然科 Chunking.json
{"createdAt":"2025-05-20T02:47:20.457Z","updatedAt":"2025-05-21T01:27:50.732Z","id":"NeCAQKfQezD4uaBO","name":"PDF 自然科 Chunking","active":true,"nodes":[{"parameters":{"formTitle":"上傳新資料","formDescription":"檔案大小限制15M以下","formFields":{"values":[{"fieldLabel":"file","fieldType":"file","multipleFiles":false,"requiredField":true},{"fieldLabel":"課題","placeholder":"課題1：自然界的組成與特性","requiredField":true},{"fieldLabel":"跨科概念","placeholder":"物質與能量（INa）","requiredField":true},{"fieldLabel":"大節點編碼","placeholder":"INa-Ⅱ-7","requiredField":true},{"fieldLabel":"大節點學習內容","placeholder":"生物需要能量（養分）、陽光、空氣、水和土壤，維持生命、生長與活動。","requiredField":true},{"fieldLabel":"小節點名稱","placeholder":"觀察適合蔬菜生長的環境","requiredField":true},{"fieldLabel":"小節點編碼","placeholder":"INa-Ⅱ-7-02","requiredField":true},{"fieldLabel":"名稱","placeholder":"選擇種菜的環境","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-260,80],"id":"51e48fd1-d20f-4c92-8c2b-e1f1af60ca98","name":"On form submission","webhookId":"4bdba99a-a1d2-4c51-94eb-0a82a1d12178"},{"parameters":{"url":"https://ollama.lazyinwork.com/api/models","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,-180],"id":"4bd9b2f8-5bef-4d58-b020-e262a8452b64","name":"Ollama Get models","credentials":{"httpBearerAuth":{"id":"37zbKhQPwSglf1HQ","name":"ollama webUI ncu"},"httpCustomAuth":{"id":"WsKAlZBVqYQaxxkG","name":"Custom Auth account"},"httpHeaderAuth":{"id":"s0RmK9COQn9g7wHn","name":"Header Auth Ollama NCU WebUI"}}},{"parameters":{"method":"POST","url":"https://ollama.lazyinwork.com/api/v1/files/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"file"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,80],"id":"ec355d58-1964-466a-a076-e9ceb78d1277","name":"Upload file","credentials":{"httpBearerAuth":{"id":"37zbKhQPwSglf1HQ","name":"ollama webUI ncu"},"httpHeaderAuth":{"id":"s0RmK9COQn9g7wHn","name":"Header Auth Ollama NCU WebUI"}}},{"parameters":{"method":"POST","url":"https://ollama.lazyinwork.com/api/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"gemma3:12b\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"請針對以下文本，每一小段落（約3-5句）抽取核心知識點，格式如下： - title: （用一句話說明該知識點的核心概念，盡量精簡） - content: （用完整且具體的句子說明該知識點，包含關鍵細節和條件） - concepts: （用1～2句話簡述該知識點的重點，方便快速理解） - keywords: （列出1～3個關鍵字詞，方便標記主題） - domain: （推估該知識點適用的場合、領域或情境） - source: （完整引用原始文字，盡量保留原文） 注意事項： 1. 只抽取具體且清楚的知識點，模糊或無重點的段落跳過不輸出。 2. 盡量避免重複知識點，確保每條獨立且完整。 3. 不需要額外解釋或評價，直接用Markdown格式回傳知識點清單。 只要輸出Markdown部分\"\n    }\n  ],\n  \"files\": [\n    {\n      \"type\": \"file\",\n      \"id\": \"{{ $json.id }}\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,80],"id":"97618346-c4a5-4c03-ba45-9f82cbcdb14d","name":"Gen Chunks","credentials":{"httpBearerAuth":{"id":"37zbKhQPwSglf1HQ","name":"ollama webUI ncu"},"httpHeaderAuth":{"id":"s0RmK9COQn9g7wHn","name":"Header Auth Ollama NCU WebUI"}}},{"parameters":{"jsCode":"function parseMarkdownString(mdString) {\n  // 拆成每個條目（用 `- title:` 為分隔）\n  const entries = mdString.split(/(?=\\n?- title: )/g).filter(s => s.trim());\n\n  const result = entries.map(entry => {\n    const obj = {};\n    // 先用行分割\n    const lines = entry.trim().split('\\n');\n    for (let line of lines) {\n      // 抓 key 和 value，key 後面接 \":\"\n      const match = line.match(/^- (\\w+): (.*)$/);\n      if (match) {\n        const key = match[1].trim();\n        let value = match[2].trim();\n\n        // 如果是 keywords，轉成陣列（簡單判斷有 [ ] 才轉）\n        if (key === 'keywords' && value.startsWith('[') && value.endsWith(']')) {\n          try {\n            value = JSON.parse(value.replace(/'/g, '\"'));  // 小心單引號\n          } catch (e) {\n            // parse 失敗就保留原字串\n          }\n        }\n\n        obj[key] = value;\n      }\n    }\n    return obj;\n  });\n\n  return result;\n}\n\n\n\n\nfor (const item of items) {\n  const raw = item.json.choices[0].message.content;\n  item.json.chunkstring = raw;\n  return parseMarkdownString(raw);\n}\nreturn items\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,80],"id":"ff718d17-b963-4bf4-bcb0-19d2bc5cc522","name":"get_chunks"},{"parameters":{"url":"https://ragflow.lazyinwork.com/api/v1/datasets/706ddd3a2c9111f0897a0242ac120005/documents/c92b4a1e2c9311f08c520242ac120005/chunks","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,340],"id":"58b1975d-ea34-4455-adf6-df707aaf8072","name":"ADD Chunk to Ragflow"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"dataset_id\": \"8a814966355911f092830242ac120005\",\n  \"document_id\": \"2253120a355b11f0afa70242ac120005\"\n}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,80],"id":"e2676bb7-0a95-4ab5-990b-83a73623f29f","name":"Add KB Config"},{"parameters":{"method":"POST","url":"=https://ragflow.lazyinwork.com/api/v1/datasets/{{ $json.dataset_id }}/documents/{{ $json.document_id }}/chunks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"content\": \"{{ $json.title }} ||| {{ $json.content }} ||| {{ $json.concepts }}|||{{ $json.source }}\",\n    \"questions\": [\n\"{{ $json['課題'] }}.{{ $json['跨科概念'] }}.{{ $json['大節點編碼'] }}.{{ $json['大節點學習內容'] }}.{{ $json['小節點名稱'] }}.{{ $json['小節點編碼'] }}.{{ $json['名稱'] }}.{{ $json.title }}\",\n\"{{ $json['課題'] }}.{{ $json['跨科概念'] }}.{{ $json['大節點編碼'] }}.{{ $json['大節點學習內容'] }}.{{ $json['小節點名稱'] }}.{{ $json['小節點編碼'] }}.{{ $json['名稱'] }}.{{ $json.content }}\",\n\"{{ $json['課題'] }}.{{ $json['跨科概念'] }}.{{ $json['大節點編碼'] }}.{{ $json['大節點學習內容'] }}.{{ $json['小節點名稱'] }}.{{ $json['小節點編碼'] }}.{{ $json['名稱'] }}.{{ $json.concepts }}\"\n],\n    \"important_keywords\": [\"{{ $json.keywords }}\"]\n  } ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,120],"id":"7bf4066c-7b6a-4b33-a308-ec7ef8402899","name":"ADD Chunk to KB","credentials":{"httpHeaderAuth":{"id":"yugipGacnczNEdV6","name":"Ragflow NCU"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[820,320],"id":"1331cf63-503e-4225-894d-eaf1b15aed17","name":"Merge"}],"connections":{"On form submission":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Upload file":{"main":[[{"node":"Gen Chunks","type":"main","index":0}]]},"Gen Chunks":{"main":[[{"node":"get_chunks","type":"main","index":0}]]},"get_chunks":{"main":[[{"node":"Add KB Config","type":"main","index":0}]]},"ADD Chunk to Ragflow":{"main":[[]]},"Add KB Config":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"ADD Chunk to KB","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateId":"2416","templateCredsSetupCompleted":true},"pinData":{},"versionId":"da5a6191-dcd5-47e0-b220-8848f9cfbe7b","triggerCount":1,"tags":[{"createdAt":"2025-05-20T02:47:45.629Z","updatedAt":"2025-05-20T02:47:45.629Z","id":"OaP6zKRwtGfAJdfn","name":"chunking"}]}