workflows/Scrape and summarize webpages with AI _test.json
{"createdAt":"2025-04-02T05:47:32.104Z","updatedAt":"2025-04-02T05:50:30.986Z","id":"s8Y082YaO778M6iX","name":"Scrape and summarize webpages with AI _test","active":false,"nodes":[{"parameters":{},"id":"4771d9e1-9b81-427a-bf4a-27b62f820c35","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[380,240],"typeVersion":1},{"parameters":{"content":"## Scrape latest Paul Graham essays","height":285.66037735849045,"width":1071.752021563343},"id":"feab2eb8-7022-4bda-bf11-2882f1b85b50","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[580,120],"typeVersion":1},{"parameters":{"content":"## Summarize them with GPT","height":607,"width":625},"id":"5c84616c-3124-400d-a804-39f1184d41ed","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1700,120],"typeVersion":1},{"parameters":{"url":"http://www.paulgraham.com/articles.html","options":{}},"id":"de7ae089-1724-4031-a234-0bd0c0ba2c57","name":"Fetch Essay List","type":"n8n-nodes-base.httpRequest","position":[660,240],"typeVersion":4.2},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"essay","cssSelector":"table table a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"id":"b74c8fb2-71ed-4cc1-8b06-e92bc362d2f0","name":"Extract essay names","type":"n8n-nodes-base.html","position":[860,240],"typeVersion":1.2},{"parameters":{"fieldToSplitOut":"essay","options":{}},"id":"9aed7a41-decd-4a98-8aa9-2805d569b142","name":"Split out into items","type":"n8n-nodes-base.splitOut","position":[1060,240],"typeVersion":1},{"parameters":{"url":"=http://www.paulgraham.com/{{ $json.essay }}","options":{}},"id":"01794b0b-7729-42d2-a2a1-152aa6296722","name":"Fetch essay texts","type":"n8n-nodes-base.httpRequest","position":[1460,240],"typeVersion":4.2},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"title","cssSelector":"title"}]},"options":{}},"id":"39d8f5f3-44f5-4f3a-af8f-35001c3c724a","name":"Extract title","type":"n8n-nodes-base.html","position":[1960,-60],"typeVersion":1.2},{"parameters":{"operationMode":"documentLoader","options":{}},"id":"e1168513-c4f3-4f3b-8e24-3401d3565605","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[1960,240],"typeVersion":2},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"568fc01a-8516-449c-8109-6203f5eeef4f","name":"Merge","type":"n8n-nodes-base.merge","position":[2460,240],"typeVersion":3},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Extract Text Only').item.json.data }}","options":{}},"id":"d723e3bc-3fbd-4478-93b8-efd7cedafeee","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[2040,460],"typeVersion":1},{"parameters":{"chunkSize":6000,"options":{}},"id":"5536c6b7-f872-4298-9013-23ec10eb1c62","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[2120,580],"typeVersion":1},{"parameters":{"maxItems":3},"id":"9ea601fe-ce07-43f0-8ce5-d177d03dc401","name":"Limit to first 3","type":"n8n-nodes-base.limit","position":[1260,240],"typeVersion":1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"data","cssSelector":"body","skipSelectors":"img,nav"}]},"options":{}},"id":"e59b839c-3e05-49a6-b7c9-7a19de1efffc","name":"Extract Text Only","type":"n8n-nodes-base.html","position":[1780,240],"typeVersion":1.2},{"parameters":{"model":"llama3.1:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1840,540],"id":"aaa22e31-06e1-4bbc-9b98-71a3ff986e80","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"PvCXnqk8auxoKiDY","name":"Ollama account 2"}}},{"parameters":{"pageId":{"__rl":true,"value":"https://www.notion.so/Blog-1b5c98a4c127809a98d5f5e99537a5c4","mode":"url"},"title":"123","blockUi":{"blockValues":[{}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[2880,240],"id":"38cb73db-8bac-4716-bb5f-e75b4524e2ad","name":"Notion","credentials":{"notionApi":{"id":"3vpNlTi4zjPOjFzG","name":"Notion account"}}}],"connections":{"Merge":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Extract title":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Fetch Essay List":{"main":[[{"node":"Extract essay names","type":"main","index":0}]]},"Limit to first 3":{"main":[[{"node":"Fetch essay texts","type":"main","index":0}]]},"Extract Text Only":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Fetch essay texts":{"main":[[{"node":"Extract title","type":"main","index":0},{"node":"Extract Text Only","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Summarization Chain","type":"ai_document","index":0}]]},"Extract essay names":{"main":[[{"node":"Split out into items","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Split out into items":{"main":[[{"node":"Limit to first 3","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Fetch Essay List","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1951","templateCredsSetupCompleted":true},"pinData":{},"versionId":"44a5e20b-1e5d-4dd4-8ba7-5af764409e6c","triggerCount":0,"tags":[]}