workflows/Starstazing.json
{"createdAt":"2025-05-16T17:04:39.243Z","updatedAt":"2025-05-16T17:07:45.671Z","id":"SAqGVDZE0da28NzF","name":"Starstazing","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2140,960],"id":"5da860ab-f59e-4752-bc5f-6790d2b43334","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"rows","cssSelector":".content-table__row","returnValue":"html","returnArray":true},{"key":"rows_links","cssSelector":".content-table__row","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1540,380],"id":"e3e4671c-958c-44ea-a4f6-73d0aea9ddf4","name":"HTML"},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"from bs4 import BeautifulSoup\nimport json\nfrom datetime import datetime\n\n_input.item.json.article_url = f\"https://www.timeanddate.com/{_input.item.json.rows_links}\"\nhtml = _input.item.json.rows\nsoup = BeautifulSoup(html, 'html.parser')\n\n\n_input.item.json.date = soup.select_one(\".tb-ms__date\").text.strip()\n_input.item.json.location = soup.select_one(\".tb-ms__loc\").text.strip()\n_input.item.json.name = soup.select_one(\".content-table__cell.tb-ms__name\").text.strip()\n_input.item.json.image_url = \"https:\" + soup.select_one(\".content-table__cell.tb-ms__img img\")[\"src\"]\n_input.item.json.visible_in = soup.select_one(\".content-table__cell.tb-ms__where\").text.strip()\n\n\ndate_range = _input.item.json.date\n\n# 拆分成兩個日期\nstart_day, end_day, month, year = date_range.replace(\"–\", \" \").split()\nyear = int(year)\n\n# 解析成 datetime 物件\nstart_date = datetime.strptime(f\"{start_day} {month} {year}\", \"%d %b %Y\")\nend_date = datetime.strptime(f\"{end_day} {month} {year}\", \"%d %b %Y\")\n\n# print(\"開始日期:\", start_date)\n# print(\"結束日期:\", end_date)\n\n_input.item.json.closed_today = (start_date - datetime.now()).days\n_input.item.json.today = str(datetime.now())\n\n# 轉換為 JSON\n# json_output = json.dumps(meteor_shower, ensure_ascii=False)\n# print(json_output)\n\n\n# Add a new field called 'myNewField' to the JSON of the item\n# _input.item.json.meteor_shower = json_output\nif int(_input.item.json.closed_today) in [60,30,10,5,1]:\n  _input.item.json.closed_today = True\nelse:\n  _input.item.json.closed_today = False\nreturn _input.item\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1140,380],"id":"0ae8a117-80df-4eb1-a602-4332ebaf7919","name":"Code"},{"parameters":{"fieldToSplitOut":"rows,rows_links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1340,380],"id":"772584c4-3baf-49ad-80d1-81d8e4d8a7d0","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d706af0-bd4a-44e6-a024-e87b3db9f930","leftValue":"={{ $json.closed_today }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-920,380],"id":"73f9d881-d18f-4b36-b894-800ffd20a584","name":"If"},{"parameters":{"url":"={{ $json.article_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-700,280],"id":"79f578fe-3d64-4ff3-a1ae-997f4f3895c1","name":"HTTP Request1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"leftbar","cssSelector":".content__sidebar--left"},{"key":"content","cssSelector":".content__body--has-sidebar-left"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-480,280],"id":"f75671a1-faf8-44d4-a5ed-ed227412b131","name":"HTML1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[20,760],"id":"9cb7a028-e0ff-47e6-8d81-14e22e4f2e30","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"P4wrYR7RISDNtWHz","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-300,400],"id":"64a68162-6672-4fc2-a2a0-194e34f6f9a1","name":"Merge"},{"parameters":{"title":"={{ $json.article_title }}","additionalFields":{"authorId":3,"content":"={{ $json[\"text\"] }} \n![image]({{ $json.image_url }}) \n### 參考閱讀 \n{{ $json.article_url }}","status":"publish","categories":[177,165,164,190],"tags":"={{ [183] }}"}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[660,320],"id":"4366957f-a150-465c-bbe2-cffa0379ebde","name":"Wordpress","credentials":{"wordpressApi":{"id":"9SPk82ZHo2wFer1F","name":"Wordpress lazyinwork n8n"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[460,360],"id":"e96a6ab3-36ef-47bc-9390-4cf4919c7cda","name":"Merge1"},{"parameters":{"promptType":"define","text":"=請基於參考資料和今天日期({{ $json.today }})，寫一篇部落格給台灣觀眾知道這個事情的有趣之處，和可以注意的內容。\n以下為參考資料\n\n\n摘要：\n{{ $json.leftbar }}\n全文：\n{{ $json.content }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-320,140],"id":"772928b8-f084-4d94-92d4-752264592626","name":"生成內文"},{"parameters":{"promptType":"define","text":"=請基於參考資料，用15個字跟台灣讀者說明，像是標題一樣，強調還有多少時間就要到了。\n以下為參考資料：\n{{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[0,0],"id":"9b069c1f-58f1-4ebd-af77-43ed15fb5ec6","name":"生成標題"},{"parameters":{"keys":{"key":[{"currentKey":"text","newKey":"article_title"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[300,80],"id":"4854c2ea-aab0-4fee-a403-9d08a89a5f2e","name":"Rename Keys"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2140,360],"id":"e3c8438d-9247-47f3-9af5-7f0f9c0528be","name":"08:00 am"},{"parameters":{"url":"https://www.skyatnightmagazine.com/news","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1780,1080],"id":"81b3fcc1-ee43-4760-9566-a0af268d7077","name":"BBC Star News"},{"parameters":{"url":"https://www.timeanddate.com/astronomy/meteor-shower/","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1760,380],"id":"2d2b4d99-609c-4346-b25c-8ebe8f621536","name":"timeanddate 流星雨預報"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"rows","cssSelector":".list-entry","returnValue":"html","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1540,1060],"id":"b923e88b-2e1f-4e29-b738-91a74423000e","name":"HTML2"},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"from bs4 import BeautifulSoup\nimport json\nfrom datetime import datetime\n\n\nhtml = _input.item.json.rows\nsoup = BeautifulSoup(html, 'html.parser')\n    \n# structured_data = []\n\n\n\n# 找到文章的主要區塊\nissue = soup.find('storefront-issue')\nif issue:\n  \n  # 提取圖片 URL\n  image_tag = issue.find('storefront-image')\n  _input.item.json.image_url = image_tag['src'] if image_tag else None\n  \n  # 提取文章連結\n  link_tag = issue.find('a', class_='issue-image')\n  _input.item.json.article_link = \"https://www.skyatnightmagazine.com/\"+link_tag['href'] if link_tag else None\n  \n  # 提取標題\n  title_tag = issue.find('h3', class_='issue-title')\n  _input.item.json.title = title_tag.get_text(strip=True) if title_tag else None\n  \n  # 提取描述\n  description_tag = issue.find('div', class_='issue-description')\n  _input.item.json.description = description_tag.get_text(strip=True) if description_tag else None\n\n\n\nreturn _input.item\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1200,1080],"id":"37caf5c7-8189-4894-9257-be8c1ef06491","name":"Code1"},{"parameters":{"fieldToSplitOut":"rows,rows_links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1380,1060],"id":"750f0b96-f8c3-47d7-bbdd-cc2db34a59d7","name":"Split Out1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46455d95-3175-4c21-be31-9807be1eea1e","leftValue":"={{ $json.article_link }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"69be5971-0d0c-40cb-a372-61a5e087dc5a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1060,1080],"id":"ca627814-57c0-4331-a333-941fcde940f3","name":"Filter"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"article_title","cssSelector":"h1"},{"key":"article_publication_date","cssSelector":".publication-date"},{"key":"article_content","cssSelector":".purple-content-body-inner"},{"key":"article_author_card","cssSelector":".author-card"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-440,1080],"id":"baba5de8-3877-48b4-ae2f-251fb0262469","name":"HTML3"},{"parameters":{"url":"={{ $json.article_link }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,1080],"id":"dbdb5852-c8e2-4c2d-b0ed-750ada3a50b1","name":"BBC Star Article"},{"parameters":{"maxItems":6},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-760,1320],"id":"30e8f147-9404-4bd0-8451-2107996228fd","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99342adc-53e1-4805-86d1-065fd8fb8357","leftValue":"={{ $json.article_content }}","rightValue":"\"\"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"c5b5ad18-e19e-454d-a154-c5cb46f7509d","leftValue":"={{ $json.article_publication_date }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"55da45b9-d6a2-4496-8456-aac1a5a361b6","leftValue":"={{ $json.article_content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-240,1240],"id":"4b972e13-3a0b-4a57-a0ee-fca2ae46d342","name":"Filter1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-260,1440],"id":"73037222-9a98-4a55-9ad8-1dc28bc97090","name":"Merge2"},{"parameters":{"includeOtherFields":true,"include":"except","excludeFields":"rows","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-920,1080],"id":"e04da6dd-5a93-4adb-ad5e-7332f7d26382","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=請基於以下參考資料撰寫標題，該標題要適合台灣閱讀者。\n不要輸出說明和開頭，只要輸出標題，標題不能超過18個字\n以下為參考資料\n{{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[540,1320],"id":"40f15930-3cbc-41d2-9578-6ee828a77e52","name":"生成標題1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1300,1400],"id":"d6695b9c-c6f3-4ac8-afdd-4af024a81917","name":"Merge3"},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-80,1540],"id":"2df0d3e4-e6b9-4dc5-ac27-f471fd3868ed","name":"Limit1"},{"parameters":{"promptType":"define","text":"=請深度閱覽所有資料後，寫一篇部落格給台灣觀眾知道這些事情的有趣之處，特別強調台灣地區可注意的賞星相關資訊。\n\n##輸出細節\n- 輸出將被直接作為報導，因此請直接輸出內文，不要有任何的對話開頭、需要後期製作的指引內容或是其他解釋性備註\n- 請使用台灣人容易理解的字詞，總是用繁體中文作為主要的語言。\n- 如果生成網址的時候，請確認是正確的\n- 強調作為初學者可以怎麼使用或是了解其核心概念\n- 生成文章為長內容（1,500~2,500 字），特別是技術型、知識型文章。內容要完整回答 「使用者搜尋意圖」，避免內容過於淺薄。\n- 有獨特觀點，不只是翻譯或抄襲的資訊。例如可以加入「個人心得」或「觀影指南」。\n- 文章內容使用 簡單、易懂的語言，避免過度專業術語。\n\n以下為參考資料\n{{ $json.data.toJsonString() }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[260,1600],"id":"a710fd87-d0a8-4ab3-8a72-a5a319de4cd3","name":"生成內文1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[120,1720],"id":"46d18687-8ff4-432f-b831-819298f90380","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"image_url, article_link, title","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[40,1960],"id":"b0f403e4-f272-46b6-98d7-b5862b4337eb","name":"Split Out2"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"refs","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[520,1880],"id":"7a334b7f-9250-49a2-aa0f-91da6ed0f4a9","name":"Aggregate1"},{"parameters":{"keys":{"key":[{"currentKey":"text","newKey":"article_title"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[920,1120],"id":"a9d846cd-859e-4a4a-8be1-656b30080e66","name":"Rename Keys1"},{"parameters":{"title":"={{ $json.article_title }}","additionalFields":{"authorId":3,"content":"={{ $json[\"text\"] }} \n![image]({{ $json.refs[0].image_url }}) \n### 參考閱讀 \n1. [{{ $json.refs[0].title }}]({{ $json.refs[0].article_link }})\n2. [{{ $json.refs[1].title }}]({{ $json.refs[1].article_link }})\n3. [{{ $json.refs[2].title }}]({{ $json.refs[2].article_link }})","status":"publish","categories":[165,164,190,177],"tags":"={{ [183,179] }}"}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[1520,1420],"id":"031843b4-0da5-42e5-852d-ece7461afa76","name":"Wordpress1","credentials":{"wordpressApi":{"id":"9SPk82ZHo2wFer1F","name":"Wordpress lazyinwork n8n"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2080,1260],"id":"e431ea13-67a7-4ce7-ba72-fcdc51fd521e","name":"08:40 am"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"BBC Star News","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"生成內文","type":"ai_languageModel","index":0},{"node":"生成標題","type":"ai_languageModel","index":0},{"node":"生成標題1","type":"ai_languageModel","index":0},{"node":"生成內文1","type":"ai_languageModel","index":0}]]},"HTML1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"生成內文","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Wordpress","type":"main","index":0}]]},"生成內文":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"生成標題","type":"main","index":0}]]},"生成標題":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"08:00 am":{"main":[[{"node":"timeanddate 流星雨預報","type":"main","index":0}]]},"timeanddate 流星雨預報":{"main":[[{"node":"HTML","type":"main","index":0}]]},"BBC Star News":{"main":[[{"node":"HTML2","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"BBC Star Article":{"main":[[{"node":"HTML3","type":"main","index":0}]]},"Limit":{"main":[[{"node":"BBC Star Article","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"HTML3":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"生成標題1":{"main":[[{"node":"Rename Keys1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Split Out2","type":"main","index":0}]]},"生成內文1":{"main":[[{"node":"Merge3","type":"main","index":1},{"node":"生成標題1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"生成內文1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Rename Keys1":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Wordpress1","type":"main","index":0}]]},"08:40 am":{"main":[[{"node":"BBC Star News","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"Asia/Taipei","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:08:00 am":{"recurrenceRules":[]},"node:08:40 am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2fc2ec4e-5fb8-4b7b-943e-d443ffcc98f5","triggerCount":2,"tags":[]}