workflows/Starstazing.json
{"createdAt":"2025-02-12T05:37:00.236Z","updatedAt":"2025-04-29T06:53:57.792Z","id":"OkkTLvjT3QLHEK5O","name":"Starstazing","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,580],"id":"6cecd6b4-8071-445c-baf0-a1f66cf67f24","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"rows","cssSelector":".content-table__row","returnValue":"html","returnArray":true},{"key":"rows_links","cssSelector":".content-table__row","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,0],"id":"2d7ad8a6-b26b-4557-b123-a37c808c9d5c","name":"HTML"},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"from bs4 import BeautifulSoup\nimport json\nfrom datetime import datetime\n\n_input.item.json.article_url = f\"https://www.timeanddate.com/{_input.item.json.rows_links}\"\nhtml = _input.item.json.rows\nsoup = BeautifulSoup(html, 'html.parser')\n\n\n_input.item.json.date = soup.select_one(\".tb-ms__date\").text.strip()\n_input.item.json.location = soup.select_one(\".tb-ms__loc\").text.strip()\n_input.item.json.name = soup.select_one(\".content-table__cell.tb-ms__name\").text.strip()\n_input.item.json.image_url = \"https:\" + soup.select_one(\".content-table__cell.tb-ms__img img\")[\"src\"]\n_input.item.json.visible_in = soup.select_one(\".content-table__cell.tb-ms__where\").text.strip()\n\n\ndate_range = _input.item.json.date\n\n# 拆分成兩個日期\nstart_day, end_day, month, year = date_range.replace(\"–\", \" \").split()\nyear = int(year)\n\n# 解析成 datetime 物件\nstart_date = datetime.strptime(f\"{start_day} {month} {year}\", \"%d %b %Y\")\nend_date = datetime.strptime(f\"{end_day} {month} {year}\", \"%d %b %Y\")\n\n# print(\"開始日期:\", start_date)\n# print(\"結束日期:\", end_date)\n\n_input.item.json.closed_today = (start_date - datetime.now()).days\n_input.item.json.today = str(datetime.now())\n\n# 轉換為 JSON\n# json_output = json.dumps(meteor_shower, ensure_ascii=False)\n# print(json_output)\n\n\n# Add a new field called 'myNewField' to the JSON of the item\n# _input.item.json.meteor_shower = json_output\nif int(_input.item.json.closed_today) in [60,30,10,5,1]:\n  _input.item.json.closed_today = True\nelse:\n  _input.item.json.closed_today = False\nreturn _input.item\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,0],"id":"2755288a-2bb0-4d32-a4ff-08a3c2fbf547","name":"Code"},{"parameters":{"fieldToSplitOut":"rows,rows_links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,0],"id":"e0e59cc3-94b6-440a-83fc-540178bde56e","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d706af0-bd4a-44e6-a024-e87b3db9f930","leftValue":"={{ $json.closed_today }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1060,0],"id":"bd1b8234-c2c7-4e8d-868d-4a94cd8d6acc","name":"If"},{"parameters":{"url":"={{ $json.article_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,-100],"id":"84779d06-688f-4938-a897-e09e983753ea","name":"HTTP Request1"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"leftbar","cssSelector":".content__sidebar--left"},{"key":"content","cssSelector":".content__body--has-sidebar-left"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1500,-100],"id":"81e53e1f-c5c2-4563-8823-33ac3f978a1c","name":"HTML1"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2000,380],"id":"0a7ea87f-04f0-40ca-9364-bc84b9d5ff35","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2f62OWiuFp24i3ZQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1680,20],"id":"75e338b7-e3e2-4d86-bd1e-e69b30c6a296","name":"Merge"},{"parameters":{"title":"={{ $json.article_title }}","additionalFields":{"authorId":3,"content":"={{ $json[\"text\"] }} \n![image]({{ $json.image_url }}) \n### 參考閱讀 \n{{ $json.article_url }}","status":"publish","categories":[177,165,164,190],"tags":"={{ [183] }}"}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[2640,-60],"id":"c0a949df-4b4b-473e-a181-c9faae3735b5","name":"Wordpress","credentials":{"wordpressApi":{"id":"5siZmNyujKpCz34V","name":"Wordpress account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2440,-20],"id":"eaed1dc8-134a-4bac-ab2e-c8a846bbf6d9","name":"Merge1"},{"parameters":{"promptType":"define","text":"=請基於參考資料和今天日期({{ $json.today }})，寫一篇部落格給台灣觀眾知道這個事情的有趣之處，和可以注意的內容。\n以下為參考資料\n\n\n摘要：\n{{ $json.leftbar }}\n全文：\n{{ $json.content }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1660,-240],"id":"ccc0a605-2c1e-40ba-9ee7-a1f8756fd15d","name":"生成內文"},{"parameters":{"promptType":"define","text":"=請基於參考資料，用15個字跟台灣讀者說明，像是標題一樣，強調還有多少時間就要到了。\n以下為參考資料：\n{{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1980,-380],"id":"c744c592-dd6f-4f32-8dc5-7dad7d776076","name":"生成標題"},{"parameters":{"keys":{"key":[{"currentKey":"text","newKey":"article_title"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2280,-300],"id":"c034be98-c41c-4e63-bdb5-d3352a652464","name":"Rename Keys"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-160,-20],"id":"ddcfe9db-cf2c-47ab-a679-d34ca2d06fde","name":"08:00 am"},{"parameters":{"url":"https://www.skyatnightmagazine.com/news","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,700],"id":"ef6796d6-a378-4639-83c8-53573d060936","name":"BBC Star News"},{"parameters":{"url":"https://www.timeanddate.com/astronomy/meteor-shower/","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"307f7af0-3a92-431c-ba3d-34b40a381550","name":"timeanddate 流星雨預報"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"rows","cssSelector":".list-entry","returnValue":"html","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,680],"id":"a783a167-a692-4110-8465-fef7b4c93931","name":"HTML2"},{"parameters":{"mode":"runOnceForEachItem","language":"python","pythonCode":"from bs4 import BeautifulSoup\nimport json\nfrom datetime import datetime\n\n\nhtml = _input.item.json.rows\nsoup = BeautifulSoup(html, 'html.parser')\n    \n# structured_data = []\n\n\n\n# 找到文章的主要區塊\nissue = soup.find('storefront-issue')\nif issue:\n  \n  # 提取圖片 URL\n  image_tag = issue.find('storefront-image')\n  _input.item.json.image_url = image_tag['src'] if image_tag else None\n  \n  # 提取文章連結\n  link_tag = issue.find('a', class_='issue-image')\n  _input.item.json.article_link = \"https://www.skyatnightmagazine.com/\"+link_tag['href'] if link_tag else None\n  \n  # 提取標題\n  title_tag = issue.find('h3', class_='issue-title')\n  _input.item.json.title = title_tag.get_text(strip=True) if title_tag else None\n  \n  # 提取描述\n  description_tag = issue.find('div', class_='issue-description')\n  _input.item.json.description = description_tag.get_text(strip=True) if description_tag else None\n\n\n\nreturn _input.item\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[780,700],"id":"d486a7f9-ac3a-4a13-956b-de79c975b36c","name":"Code1"},{"parameters":{"fieldToSplitOut":"rows,rows_links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[600,680],"id":"188cd5b8-35bd-4d2d-899b-43cc448a300d","name":"Split Out1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46455d95-3175-4c21-be31-9807be1eea1e","leftValue":"={{ $json.article_link }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"69be5971-0d0c-40cb-a372-61a5e087dc5a","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[920,700],"id":"8b93b1e2-7753-42cb-8c13-af67485aebf3","name":"Filter"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"article_title","cssSelector":"h1"},{"key":"article_publication_date","cssSelector":".publication-date"},{"key":"article_content","cssSelector":".purple-content-body-inner"},{"key":"article_author_card","cssSelector":".author-card"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1540,700],"id":"25a59b32-8e62-4408-be42-dbf09f1a196e","name":"HTML3"},{"parameters":{"url":"={{ $json.article_link }}","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,700],"id":"cdbb96ab-6c8c-45d9-a725-1dbbad3edddb","name":"BBC Star Article"},{"parameters":{"maxItems":6},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1220,940],"id":"beb1dddc-21ea-4b10-a2e7-588faae0b692","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"99342adc-53e1-4805-86d1-065fd8fb8357","leftValue":"={{ $json.article_content }}","rightValue":"\"\"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"c5b5ad18-e19e-454d-a154-c5cb46f7509d","leftValue":"={{ $json.article_publication_date }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"55da45b9-d6a2-4496-8456-aac1a5a361b6","leftValue":"={{ $json.article_content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1740,860],"id":"cadd946d-152e-4a10-b838-17597a02a9d2","name":"Filter1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1720,1060],"id":"5fa81fe9-9c51-42f9-ac64-204d34b8d3a9","name":"Merge2"},{"parameters":{"includeOtherFields":true,"include":"except","excludeFields":"rows","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1060,700],"id":"dc29171b-4f8a-4b89-ab39-cd3062ddc348","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=請基於以下參考資料撰寫標題，該標題要適合台灣閱讀者。\n不要輸出說明和開頭，只要輸出標題，標題不能超過18個字\n以下為參考資料\n{{ $json.text }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2520,940],"id":"b2600b62-d5a7-4925-9d8f-6dcc7755d22e","name":"生成標題1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3280,1020],"id":"05897bf9-0178-45a0-a144-67b445acd3c6","name":"Merge3"},{"parameters":{"maxItems":3},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1900,1160],"id":"e17756cb-b18c-416a-aeae-1d1b2f040ec4","name":"Limit1"},{"parameters":{"promptType":"define","text":"=請深度閱覽所有資料後，寫一篇部落格給台灣觀眾知道這些事情的有趣之處，特別強調台灣地區可注意的賞星相關資訊。\n\n##輸出細節\n- 輸出將被直接作為報導，因此請直接輸出內文，不要有任何的對話開頭、需要後期製作的指引內容或是其他解釋性備註\n- 請使用台灣人容易理解的字詞，總是用繁體中文作為主要的語言。\n- 如果生成網址的時候，請確認是正確的\n- 強調作為初學者可以怎麼使用或是了解其核心概念\n- 生成文章為長內容（1,500~2,500 字），特別是技術型、知識型文章。內容要完整回答 「使用者搜尋意圖」，避免內容過於淺薄。\n- 有獨特觀點，不只是翻譯或抄襲的資訊。例如可以加入「個人心得」或「觀影指南」。\n- 文章內容使用 簡單、易懂的語言，避免過度專業術語。\n\n以下為參考資料\n{{ $json.data.toJsonString() }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[2240,1220],"id":"8aa26481-9e0e-4ac3-bec5-bdb4e0000f2b","name":"生成內文1"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2100,1340],"id":"a13d62a9-d158-4d2f-9f9e-0f31ef338c20","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"image_url, article_link, title","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2020,1580],"id":"3ef01b4f-d547-4ae4-bbc5-0afab3d9c8d8","name":"Split Out2"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"refs","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2500,1500],"id":"f35f71af-d09c-4ff2-a7d1-2d89fb4f8257","name":"Aggregate1"},{"parameters":{"keys":{"key":[{"currentKey":"text","newKey":"article_title"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2900,740],"id":"8e1d74ae-7174-47f0-bf12-2d312f1f5395","name":"Rename Keys1"},{"parameters":{"title":"={{ $json.article_title }}","additionalFields":{"authorId":3,"content":"={{ $json[\"text\"] }} \n![image]({{ $json.refs[0].image_url }}) \n### 參考閱讀 \n1. [{{ $json.refs[0].title }}]({{ $json.refs[0].article_link }})\n2. [{{ $json.refs[1].title }}]({{ $json.refs[1].article_link }})\n3. [{{ $json.refs[2].title }}]({{ $json.refs[2].article_link }})","status":"publish","categories":[177,165,164],"tags":"={{ [183,179] }}"}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[3500,1040],"id":"422d8ff5-cfdd-4aae-beb8-fbd1eee95993","name":"Wordpress1","credentials":{"wordpressApi":{"id":"5siZmNyujKpCz34V","name":"Wordpress account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-100,880],"id":"1ad1c86c-fb1c-4545-8372-63b1ccc0f61c","name":"08:40 am"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"BBC Star News","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"生成內文","type":"ai_languageModel","index":0},{"node":"生成標題","type":"ai_languageModel","index":0},{"node":"生成標題1","type":"ai_languageModel","index":0},{"node":"生成內文1","type":"ai_languageModel","index":0}]]},"HTML1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"生成內文","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Wordpress","type":"main","index":0}]]},"生成內文":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"生成標題","type":"main","index":0}]]},"生成標題":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"08:00 am":{"main":[[{"node":"timeanddate 流星雨預報","type":"main","index":0}]]},"timeanddate 流星雨預報":{"main":[[{"node":"HTML","type":"main","index":0}]]},"BBC Star News":{"main":[[{"node":"HTML2","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"BBC Star Article":{"main":[[{"node":"HTML3","type":"main","index":0}]]},"Limit":{"main":[[{"node":"BBC Star Article","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"HTML3":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"生成標題1":{"main":[[{"node":"Rename Keys1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Split Out2","type":"main","index":0}]]},"生成內文1":{"main":[[{"node":"Merge3","type":"main","index":1},{"node":"生成標題1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"生成內文1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Rename Keys1":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Wordpress1","type":"main","index":0}]]},"08:40 am":{"main":[[{"node":"BBC Star News","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:08:00 am":{"recurrenceRules":[]},"node:08:40 am":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dcf006a3-1f06-426b-bfa2-a1ea286ff338","triggerCount":2,"tags":[{"createdAt":"2025-03-25T02:59:04.583Z","updatedAt":"2025-03-25T02:59:04.583Z","id":"VhMrwwCku8T3RLIt","name":"lazyinwork"}]}