workflows/web search.json
{"createdAt":"2025-04-08T05:42:28.474Z","updatedAt":"2025-04-08T06:33:32.942Z","id":"Ah02sxZUyCqiHEqM","name":"web search","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"64197343-d6d5-4ef3-b989-cbc36ff90aed","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://www.bing.com/search?q=川普+關稅&count=5&first=2","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"6664730c-8921-46d5-910c-1549ef65d6c3","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","extractionValues":{"values":[{"key":"results","cssSelector":"#b_results","returnValue":"html"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[440,0],"id":"eb273f85-b4a9-44d6-bf56-139d8c081ab8","name":"HTML"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"results","extractionValues":{"values":[{"key":"rows","cssSelector":".b_algo","returnValue":"html","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[660,0],"id":"219a3ad7-ca9f-495a-9ffc-fcab05abf167","name":"HTML1"},{"parameters":{"fieldToSplitOut":"rows","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,0],"id":"15a35a3d-13d8-4ed2-8336-827b8e1026de","name":"Split Out"},{"parameters":{"operation":"extractHtmlContent","dataPropertyName":"rows","extractionValues":{"values":[{"key":"summary","cssSelector":"p"},{"key":"url","cssSelector":"a","returnValue":"attribute","attribute":"href"}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1100,0],"id":"b67b5693-0fe8-4936-b418-0f4c1e504f74","name":"HTML2"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"neverError":true,"responseFormat":"file","outputPropertyName":"page-file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,0],"id":"9b17c48e-1525-404b-874b-45fe7e2d726e","name":"HTTP Request1"},{"parameters":{"operation":"extractHtmlContent","sourceData":"binary","dataPropertyName":"page-file","extractionValues":{"values":[{"key":"page-content","cssSelector":"p","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1540,0],"id":"05eed0bf-a65c-4440-99fd-109018a5f70c","name":"HTML3"},{"parameters":{"path":"search/web-bing/:keyword","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[40,200],"id":"612587d6-cd5e-4318-b9e6-370a2e920cde","name":"Webhook","webhookId":"df9e14d2-1f0e-4d62-8b3f-ff64b511814f"},{"parameters":{"url":"=https://www.bing.com/search?q={{ $json.params.keyword }}&count=5&first=2 ","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,200],"id":"77257886-ae8d-46e6-be11-9e5ff83497e5","name":"HTTP Request2"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1960,160],"id":"d94176ba-c631-40bb-9508-9ce5aa9fc809","name":"Respond to Webhook"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1700,140],"id":"9398e6fa-2691-4bde-bf23-3b4d9b76329f","name":"Merge"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"HTML2","type":"main","index":0}]]},"HTML2":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"HTML3","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML3":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1da1f266-70b5-444c-b660-fdac5ebfbbb0","triggerCount":1,"tags":[]}