workflows/Write news.json
{"createdAt":"2025-05-06T11:54:35.439Z","updatedAt":"2025-05-07T04:54:03.187Z","id":"GpeBikqFER7IxkDy","name":"Write news","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2080,180],"id":"cfa91c18-c6a9-46c3-ad7c-2b3946c14eb4","name":"When clicking ‘Test workflow’"},{"parameters":{"title":"=[無偏見報導]{{ $json.text }}","additionalFields":{"authorId":3,"content":"={{ $json[\"內文\"] }}\n![image]({{ $json.image }})\n### 參考閱讀\n{{ $json.res }}","status":"publish","categories":[177,165,164,191],"tags":"={{ [$('文章資訊').item.json.article_tag,179] }}"}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[2320,700],"id":"f0d6e286-356a-4ca1-81bf-61e8784beb6c","name":"Wordpress","alwaysOutputData":true,"executeOnce":true,"retryOnFail":false,"credentials":{"wordpressApi":{"id":"9SPk82ZHo2wFer1F","name":"Wordpress lazyinwork n8n"}}},{"parameters":{"collection":"news_v1","options":{},"query":"={\n  \"ld_json_發佈時間\": { \n      \"$gt\": \"{{ $json.date_24_hours_ago }}\"\n  },\n  \"run_version\": \"{{ $json.run_version }}\",\n  \"run_tag\": \"{{ $json.run_tag }}\"\n}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-1240,660],"id":"fc753ef3-50a8-42a4-8bcb-d07550891d49","name":"MongoDB","alwaysOutputData":false,"credentials":{"mongoDb":{"id":"Nubd7Wpa2YLeMdBW","name":"MongoDB news_n8n"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"chatInput","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-840,660],"id":"07ef6106-8e72-4d43-a47d-e1d19ef4f152","name":"Aggregate"},{"parameters":{"includeOtherFields":true,"include":"selected","includeFields":"[\"標題\"], [\"描述\"], [\"article_內文\"], [\"article_來源\"]","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1060,600],"id":"066ab5d7-69f0-4ded-bcb9-4c5bd5f0a7b1","name":"Edit Fields"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nnews_list = []\nfor item in _input.all():\n    for news in item.json.text.split(\"標題：\"):\n      if len(news)<5:\n        continue\n      else:\n        lines = news.split(\"\\n\")\n        keywords = lines[3].split(\"：\")[1]\n        if '、' in keywords:\n          keywords = \",\".join(keywords.split('、')[:2])\n        elif ',' in keywords:\n          keywords =  \",\".join(keywords.split(',')[:2])\n        \n        news_list.append({\n          \"source\": news,\n          \"標題\": lines[0],\n          \"發表人\": lines[1].split(\"：\")[1],\n          \"內文\": lines[2].split(\"：\")[1],\n          \"搜尋關鍵字句\": \" \".join(keywords.split(\" \")[:3])\n        })\n   \nreturn news_list"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,700],"id":"1677db0c-7878-481e-b2f0-c3cb2d7d2d14","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-60,700],"id":"abdc5441-bdc8-4424-b0fd-6eca38443b9b","name":"Loop Over Items"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"News","cssSelector":".NewsArticle","returnValue":"html","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[380,800],"id":"9fbe6dd4-b037-4de6-925e-82dab0e62f69","name":"HTML"},{"parameters":{"url":"=https://tw.news.search.yahoo.com/search?p={{ $json[\"搜尋關鍵字句\"] }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,800],"id":"97d5e9b0-32af-4ecf-a3d6-28d0bac38f3e","name":"Yahoo 搜尋1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[880,500],"id":"709195aa-2b4e-4cab-a3ad-787872b8a4a0","name":"Merge1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"chatInput","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1000,400],"id":"b290a9d6-fedd-40a6-95ee-b84f0402e09a","name":"Aggregate1"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\narticle = {}\nres = []\nfor item in _input.all():\n    for news in item.json.text.split(\"標題：\"):\n      if len(news)<5:\n        continue\n      else:\n        lines = news.split(\"\\n\")\n        article = article | {\n          \"source\": news,\n          \"內文\": \"## \"+ \"\\n\".join(lines[1:]).strip()\n        }\n    res.append({\n      \"title\": item.json['title'],\n      \"source\": item.json['source'],\n      \"link\": item.json['link'],\n      \"image\": item.json['image']\n      \n    })\n\n   \nreturn article | {\n  \"image\": res[0]['image'],\n  \"res\": \"\\n\".join([f\"[{r['title']}]({r['link']})\" for r in res])\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1480,980],"id":"9ec4b07f-94ba-4549-b9d8-b81e386ffe49","name":"Code1"},{"parameters":{"fieldToSplitOut":"title, source, link, image","include":"=","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1140,1180],"id":"ec8356f7-6030-4dff-a73a-6a152518fabe","name":"Split Out"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1340,1180],"id":"ab70fbf6-dc75-4b61-94da-aada277cef96","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"a3c50b9e-2cdc-41ab-95c5-1d8f2d108bf6","name":"run_version","value":"0.0.6","type":"string"},{"id":"7a5597cc-6537-4b51-81c1-92609d6abc0e","name":"run_tag","value":"all","type":"string"},{"id":"cb1e482c-c763-4a28-93b8-cf4ea414f783","name":"article_tag","value":"182","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,800],"id":"f2cc39ae-ec52-4019-92ad-0146fb2c2b15","name":"主題設定[綜合]"},{"parameters":{"assignments":{"assignments":[{"id":"a3c50b9e-2cdc-41ab-95c5-1d8f2d108bf6","name":"run_version","value":"0.0.5","type":"string"},{"id":"7a5597cc-6537-4b51-81c1-92609d6abc0e","name":"run_tag","value":"politics","type":"string"},{"id":"30bc119c-86ff-44db-a863-775cdde004f5","name":"article_tag","value":181,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,960],"id":"fe855706-3fe6-4ac6-8499-fc363a18e1e2","name":"主題設定[政治]"},{"parameters":{"assignments":{"assignments":[{"id":"a3c50b9e-2cdc-41ab-95c5-1d8f2d108bf6","name":"run_version","value":"0.0.5","type":"string"},{"id":"7a5597cc-6537-4b51-81c1-92609d6abc0e","name":"run_tag","value":"tech","type":"string"},{"id":"5f7fe91d-8c60-4b35-88c8-396ed175003f","name":"article_tag","value":180,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1680,1120],"id":"9b3367b9-19d5-49dc-be8e-3c78d356449a","name":"主題設定[科技]"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1600,580],"id":"16e7bf9c-f551-43f2-9577-c957194994b1","name":"Merge3"},{"parameters":{"jsCode":"var now = new Date(); // 取得現在時間\nvar date = now.toISOString();\n\n// 取得今天是星期幾\nvar day = now.getDay();\nconst weekday = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n\n// 取得 24 小時前的時間\nvar oneDayAgo = new Date(now.getTime() - 24 * 60 * 60 * 1000);\nvar date24HoursAgo = oneDayAgo.toISOString();\n\n// 取得 24 小時前的「日期部分」\nvar datePart24HoursAgo = date24HoursAgo.split(\"T\")[0];\n\n// 將結果儲存在 items[0].json 中\nitems[0].json.date_today = date.split(\"T\")[0];\nitems[0].json.day_today = weekday[day];\nitems[0].json.date_today = new Date(now.getTime()).toISOString();\nitems[0].json.date_24_hours_ago = date24HoursAgo;\nitems[0].json.date_24_hours_ago_date_only = datePart24HoursAgo;\n\nreturn $input.first();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1460,580],"id":"663023d7-a8a9-4b22-816e-0256ef3a1810","name":"文章資訊"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2060,800],"id":"ea1041d4-9189-4925-bd82-e9097e423854","name":"04:00"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2060,960],"id":"539870fc-2a50-4bff-9f95-cddf3a6e2e7d","name":"04:20"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2060,1120],"id":"3278973e-c882-43db-a02d-45ceaef7f352","name":"04:40"},{"parameters":{"model":"gemma3:12b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-60,220],"id":"8a22abf0-870b-4ad9-b877-b96295fdb161","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"W3vzRfEdaAt3dzuB","name":"Ollama account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-160,60],"id":"6c8f76a3-1cbf-4a3c-81a1-2f803c9ba39c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"P4wrYR7RISDNtWHz","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom bs4 import BeautifulSoup\nimport json\n\narray = []\nfor item in _input.all():\n  for html in item['json']['News']:\n    soup = BeautifulSoup(html, 'html.parser')\n    article = {}\n    li = soup.find('li', class_='ov-a fst')\n    if li:\n      a_tag = li.find('a', class_='thmb')\n      title_tag = li.find('h4', class_='s-title').find('a')\n      source_tag = li.find('span', class_='s-source')\n      time_tag = li.find('span', class_='s-time')\n      desc_tag = li.find('p', class_='s-desc')\n      img_tag = li.find('img', class_='s-img')\n      \n      article['title'] = title_tag.get_text(strip=True) if title_tag else None\n      article['link'] = title_tag['href'] if title_tag else None\n      article['source'] = source_tag.get_text(strip=True) if source_tag else None\n      article['time'] = time_tag.get_text(strip=True) if time_tag else None\n      article['description'] = desc_tag.get_text(strip=True) if desc_tag else None\n      article['image'] = img_tag['src'] if img_tag else None\n      array.append(article)\nif len(array) < 2:\n  raise RuntimeError(\"相關事件少於2\")\nreturn array[:5]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,780],"id":"acc81c37-dca6-42a6-8b8e-adbe8c92e939","name":"拉出前5則相關討論","onError":"continueErrorOutput"},{"parameters":{"messages":{"messageValues":[{"message":"遵守媒體道德與社會責任原則，基於資料內容，統整後撰寫一篇報導。以下提供更多輸出細節\n\n請根據以下規範撰寫一篇約 500 字的部落格風格報導文章：\n\n## 輸出格式：\n[關鍵字]：列出與主題高度相關的關鍵字，建議3至6個  \n[內文]：請以部落格文風，深入敘述事件內容，要求資訊真實、來源可信，並盡可能引用來源（無需附上網址）\n\n## 撰寫原則：\n- 文章將被直接用作報導，**禁止包含任何對話開場、系統說明、產製說明或其他非正文內容**\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 全文使用**繁體中文**，必要時可以加入英文字母，不使用其他語言\n- 採用台灣人日常可理解的用語，避免過度專業術語\n- 所有內容須符合媒體報導標準，**不得煽動情緒，資訊需查證且可信**\n- **禁止提供網址**\n- 文章須具備**獨特觀點**，不僅是翻譯或重述他人觀點\n- 可加入以下章節以強化[內文]深度與觀點呈現：\n  - **個人心得：** 分享作者個人對事件的看法或觀察\n  - **事件癥結點：** 提出事件背後的根本問題或關鍵點\n  - **參考資料與本文對照：** 梳理文章中引用的資料來源，並對照其在文中的應用，說明如何支持文章觀點\n\n\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1180,400],"id":"8a793f36-a96f-4369-b9d0-759c1fb7bb0a","name":"生成文章"},{"parameters":{"messages":{"messageValues":[{"message":"基於媒體道德與社會影響程度，從資料中選出最重要的三則新聞，並簡單說明。以下提供更多輸出細節\n\n## 細節：\n- 輸出格式：\n    標題：標題在這裡，10字以內\n    發表人：發表人寫在這裡\n    內文：簡單描述事件內容\n    搜尋關鍵字句：方便系統進行搜尋的關鍵字句\n- 不要有多餘的開敨與總結，遵守輸出格式\n- 使用文字段落輸出，不要json格式"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-660,740],"id":"c4735d98-2bf4-4cca-9e9a-c529eeeea65c","name":"選擇重要議題"},{"parameters":{"promptType":"define","text":"={{ $json['內文'] }}","messages":{"messageValues":[{"message":"25字內總結重點\n\n## 撰寫原則：\n- 文章將被直接用作爲標題，**禁止包含任何對話開場、系統說明、產製說明或其他非正文內容**\n- 避免無謂的開場白與結尾語，**直接切入主題**\n- 使用**繁體中文**，採用台灣人日常可理解的用語，避免過度專業術語\n\n\n\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[1960,260],"id":"cdc2da05-8c70-4164-8395-0aa9f03592e3","name":"生成標題"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2060,720],"id":"f16b9da5-bd45-4d54-ba05-7df9d1f82a20","name":"Merge"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2520,800],"id":"b01b3f9a-3cda-42e8-9a02-65b599aa9262","name":"Wait","webhookId":"107f159b-eb36-45f0-b67e-1fc9cf2df474"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"主題設定[科技]","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"選擇重要議題","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Wordpress":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Yahoo 搜尋1","type":"main","index":0},{"node":"Merge1","type":"main","index":1},{"node":"Merge3","type":"main","index":0}]]},"HTML":{"main":[[{"node":"拉出前5則相關討論","type":"main","index":0}]]},"Yahoo 搜尋1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"生成文章","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Split Out":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"主題設定[綜合]":{"main":[[{"node":"文章資訊","type":"main","index":0}]]},"主題設定[政治]":{"main":[[{"node":"文章資訊","type":"main","index":0}]]},"主題設定[科技]":{"main":[[{"node":"文章資訊","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"生成標題","type":"main","index":0}]]},"文章資訊":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"04:00":{"main":[[{"node":"主題設定[綜合]","type":"main","index":0}]]},"04:20":{"main":[[{"node":"主題設定[政治]","type":"main","index":0}]]},"04:40":{"main":[[{"node":"主題設定[科技]","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"選擇重要議題","type":"ai_languageModel","index":0},{"node":"生成文章","type":"ai_languageModel","index":0},{"node":"生成標題","type":"ai_languageModel","index":0}]]},"拉出前5則相關討論":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Split Out","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"生成文章":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"選擇重要議題":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Wordpress","type":"main","index":0}]]},"生成標題":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:04:00":{"recurrenceRules":[]},"node:04:20":{"recurrenceRules":[]},"node:04:40":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ea377521-0c61-4b3b-9023-dd971e3d0fe8","triggerCount":3,"tags":[]}