workflows/write news.json
{"createdAt":"2025-02-12T04:06:30.804Z","updatedAt":"2025-03-15T16:40:14.674Z","id":"1oAnoycvfOgQTUlq","name":"write news","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5160,-100],"id":"8ba35f14-740f-4557-b427-c26a4bccc8ab","name":"When clicking ‘Test workflow’"},{"parameters":{"title":"=[無偏見報導]{{ $json[\"標題\"] }}","additionalFields":{"authorId":3,"content":"={{ $json[\"內文\"] }}\n![image]({{ $json.image }})\n### 參考閱讀\n{{ $json.res }}","status":"publish","categories":[177,165,164],"tags":"={{ [$('文章資訊').item.json.article_tag,179] }}"}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[-980,420],"id":"090722c7-1cf3-4ab8-902a-247e0612dfad","name":"Wordpress","alwaysOutputData":true,"executeOnce":true,"retryOnFail":false,"credentials":{"wordpressApi":{"id":"5siZmNyujKpCz34V","name":"Wordpress account"}}},{"parameters":{"collection":"news_v1","options":{},"query":"={\n  \"ld_json_發佈時間\": { \n      \"$gt\": \"{{ $json.date_24_hours_ago }}\"\n  },\n  \"run_version\": \"{{ $json.run_version }}\",\n  \"run_tag\": \"{{ $json.run_tag }}\"\n}"},"type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-4280,300],"id":"657d33f4-e409-469f-84f7-54c2fb23cae6","name":"MongoDB","alwaysOutputData":false,"credentials":{"mongoDb":{"id":"x3Dlu5DZnCiSbY1K","name":"MongoDB account"}}},{"parameters":{"messages":{"messageValues":[{"message":"基於媒體道德與社會影響程度，從資料中選出最重要的三則新聞，並簡單說明。以下提供更多輸出細節\n\n## 細節：\n- 輸出格式：\n    標題：標題在這裡，10字以內\n    發表人：發表人寫在這裡\n    內文：簡單描述事件內容\n    搜尋關鍵字句：方便系統進行搜尋的關鍵字句\n- 不要有多餘的開敨與總結，遵守輸出格式\n- 使用文字段落輸出，不要json格式"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-3740,460],"id":"3f5ca279-f155-41fa-b6f8-f01db9d756d8","name":"Basic LLM Chain"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3080,-280],"id":"15f5d75e-057a-41be-a1bf-24e91a7556b3","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"2f62OWiuFp24i3ZQ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"chatInput","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-3920,380],"id":"7842a9b1-1580-4547-831f-72972482e132","name":"Aggregate"},{"parameters":{"includeOtherFields":true,"include":"selected","includeFields":"[\"標題\"], [\"描述\"], [\"article_內文\"], [\"article_來源\"]","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4140,320],"id":"d207ccd1-075f-438b-99c2-ecb5e0a3461b","name":"Edit Fields"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nnews_list = []\nfor item in _input.all():\n    for news in item.json.text.split(\"標題：\"):\n      if len(news)<5:\n        continue\n      else:\n        lines = news.split(\"\\n\")\n        keywords = lines[3].split(\"：\")[1]\n        if '、' in keywords:\n          keywords = \",\".join(keywords.split('、')[:2])\n        if ',' in keywords:\n          keywords =  \",\".join(keywords.split(',')[:2])\n        \n        news_list.append({\n          \"source\": news,\n          \"標題\": lines[0],\n          \"發表人\": lines[1].split(\"：\")[1],\n          \"內文\": lines[2].split(\"：\")[1],\n          \"搜尋關鍵字句\": keywords\n        })\n   \nreturn news_list"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3360,420],"id":"176de839-c839-41d6-9ee5-900f3f47ff9e","name":"Code"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3140,420],"id":"5dbb1643-4428-4fa7-a94f-be3fea0d6890","name":"Loop Over Items"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"News","cssSelector":".NewsArticle","returnValue":"html","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-2700,520],"id":"2f7d98a2-6d24-4540-9af4-d83c0b1e16cf","name":"HTML"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfrom bs4 import BeautifulSoup\nimport json\n\narray = []\nfor item in _input.all():\n  for html in item['json']['News']:\n    soup = BeautifulSoup(html, 'html.parser')\n    article = {}\n    li = soup.find('li', class_='ov-a fst')\n    if li:\n      a_tag = li.find('a', class_='thmb')\n      title_tag = li.find('h4', class_='s-title').find('a')\n      source_tag = li.find('span', class_='s-source')\n      time_tag = li.find('span', class_='s-time')\n      desc_tag = li.find('p', class_='s-desc')\n      img_tag = li.find('img', class_='s-img')\n      \n      article['title'] = title_tag.get_text(strip=True) if title_tag else None\n      article['link'] = title_tag['href'] if title_tag else None\n      article['source'] = source_tag.get_text(strip=True) if source_tag else None\n      article['time'] = time_tag.get_text(strip=True) if time_tag else None\n      article['description'] = desc_tag.get_text(strip=True) if desc_tag else None\n      article['image'] = img_tag['src'] if img_tag else None\n      array.append(article)\nreturn array[:3]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2480,500],"id":"27d84a58-3fa6-4443-8751-b4ff63adbd66","name":"拉出前三則相關討論"},{"parameters":{"url":"=https://tw.news.search.yahoo.com/search?p={{ $json[\"搜尋關鍵字句\"] }}","options":{"response":{"response":{"responseFormat":"text"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2880,520],"id":"3378e112-9f7f-40a5-a65b-991e354215d3","name":"Yahoo 搜尋1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2200,220],"id":"b24f7c49-66ed-4579-8bae-08620cc474e1","name":"Merge1"},{"parameters":{"messages":{"messageValues":[{"message":"遵守媒體道德與社會責任原則，基於資料內容，統整後撰寫一篇報導。以下提供更多輸出細節\n\n## 細節：\n- 輸出格式：\n    標題：標題在這裡\n    關鍵字：相關關鍵字\n    內文：完整描述事件內容，並且大量引用出處\n- 內文風格為部落格文章，字數約500字，輸出內文將被直接作為報導，因此請直接輸出內文，不要有任何的對話開頭、需要後期製作的指引內容或是其他解釋性備註\n- 不要有多餘的開敨與總結，遵守輸出格式\n- 不要輸出網址\n- 遵守媒體紀律，不要煽動且要確定來源可信\n- 請使用台灣人容易理解的字詞，總是用繁體中文作為主要的語言。\n- 有獨特觀點，不只是翻譯或抄襲的資訊。例如可以加入「個人心得」或「事件癥結點」。\n- 文章內容使用 簡單、易懂的語言，避免過度專業術語。\n\n\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-1900,120],"id":"44379538-ba07-4f4d-8cbb-03a312f23942","name":"Basic LLM Chain1"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"chatInput","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2080,120],"id":"9ebde501-f6db-4803-9564-f2d8c8dde18f","name":"Aggregate1"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\narticle = {}\nres = []\nfor item in _input.all():\n    for news in item.json.text.split(\"標題：\"):\n      if len(news)<5:\n        continue\n      else:\n        lines = news.split(\"\\n\")\n        article = article | {\n          \"source\": news,\n          \"標題\": lines[0],\n          \"內文\": \"## \"+ \"\\n\".join(lines[1:]).strip()\n        }\n    res.append({\n      \"title\": item.json['title'],\n      \"source\": item.json['source'],\n      \"link\": item.json['link'],\n      \"image\": item.json['image']\n      \n    })\n\n   \nreturn article | {\n  \"image\": res[0]['image'],\n  \"res\": \"\\n\".join([f\"[{r['title']}]({r['link']})\" for r in res])\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1420,720],"id":"c807e217-8d47-4a18-b53d-443489eae2da","name":"Code1"},{"parameters":{"fieldToSplitOut":"title, source, link, image","include":"=","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1940,900],"id":"d4649de5-5ff0-42c8-8cf2-20ebb670a76e","name":"Split Out"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1740,900],"id":"4818097f-23ee-4834-a22f-5c3bbcf3b320","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"a3c50b9e-2cdc-41ab-95c5-1d8f2d108bf6","name":"run_version","value":"0.0.6","type":"string"},{"id":"7a5597cc-6537-4b51-81c1-92609d6abc0e","name":"run_tag","value":"all","type":"string"},{"id":"cb1e482c-c763-4a28-93b8-cf4ea414f783","name":"article_tag","value":"182","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4760,520],"id":"de1592b2-ad7c-41e5-bff5-e43347efb72e","name":"主題設定[綜合]"},{"parameters":{"assignments":{"assignments":[{"id":"a3c50b9e-2cdc-41ab-95c5-1d8f2d108bf6","name":"run_version","value":"0.0.5","type":"string"},{"id":"7a5597cc-6537-4b51-81c1-92609d6abc0e","name":"run_tag","value":"politics","type":"string"},{"id":"30bc119c-86ff-44db-a863-775cdde004f5","name":"article_tag","value":181,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4760,680],"id":"e2b8d48b-b236-467f-8830-038c9e23035b","name":"主題設定[政治]"},{"parameters":{"assignments":{"assignments":[{"id":"a3c50b9e-2cdc-41ab-95c5-1d8f2d108bf6","name":"run_version","value":"0.0.5","type":"string"},{"id":"7a5597cc-6537-4b51-81c1-92609d6abc0e","name":"run_tag","value":"tech","type":"string"},{"id":"5f7fe91d-8c60-4b35-88c8-396ed175003f","name":"article_tag","value":180,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4760,840],"id":"e9f37c43-1164-4fbe-91cf-7f77e435f61e","name":"主題設定[科技]"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1240,440],"id":"f114a136-c30e-4947-b7e2-011d552b9a33","name":"Merge3"},{"parameters":{"jsCode":"var now = new Date(); // 取得現在時間\nvar date = now.toISOString();\n\n// 取得今天是星期幾\nvar day = now.getDay();\nconst weekday = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n\n// 取得 24 小時前的時間\nvar oneDayAgo = new Date(now.getTime() - 24 * 60 * 60 * 1000);\nvar date24HoursAgo = oneDayAgo.toISOString();\n\n// 取得 24 小時前的「日期部分」\nvar datePart24HoursAgo = date24HoursAgo.split(\"T\")[0];\n\n// 將結果儲存在 items[0].json 中\nitems[0].json.date_today = date.split(\"T\")[0];\nitems[0].json.day_today = weekday[day];\nitems[0].json.date_24_hours_ago = date24HoursAgo;\nitems[0].json.date_24_hours_ago_date_only = datePart24HoursAgo;\n\nreturn $input.first();\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4540,300],"id":"db77f2e2-682b-4efc-b1bf-294623573b23","name":"文章資訊"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5140,520],"id":"747ee293-83b1-487b-9d9a-989769248555","name":"04:00"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5140,680],"id":"ec609d54-50ca-4cae-80ca-b9fe1667d863","name":"04:20"},{"parameters":{"rule":{"interval":[{"triggerAtHour":4,"triggerAtMinute":40}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5140,840],"id":"9efe03f6-e32a-4771-b0d4-b75aa9114ae8","name":"04:40"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"主題設定[科技]","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Wordpress":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Yahoo 搜尋1","type":"main","index":0},{"node":"Merge1","type":"main","index":1},{"node":"Merge3","type":"main","index":0}]]},"HTML":{"main":[[{"node":"拉出前三則相關討論","type":"main","index":0}]]},"拉出前三則相關討論":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Yahoo 搜尋1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Split Out":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"主題設定[綜合]":{"main":[[{"node":"文章資訊","type":"main","index":0}]]},"主題設定[政治]":{"main":[[{"node":"文章資訊","type":"main","index":0}]]},"主題設定[科技]":{"main":[[{"node":"文章資訊","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Wordpress","type":"main","index":0}]]},"文章資訊":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"04:00":{"main":[[{"node":"主題設定[綜合]","type":"main","index":0}]]},"04:20":{"main":[[{"node":"主題設定[政治]","type":"main","index":0}]]},"04:40":{"main":[[{"node":"主題設定[科技]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:04:00":{"recurrenceRules":[]},"node:04:20":{"recurrenceRules":[]},"node:04:40":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"3d6dfbdc-f298-4e4a-9a01-2830c8eff8be","triggerCount":3,"tags":[]}